{#<div class="p-site xl:container py-block colorway-blue-500">#}
{#  {% include ("molecules/section-title/section-title--example.twig") with {#}
{#    style: 'center'#}
{#  } %}#}
{#</div>#}

{#<div class="p-site xl:container my-block colorway-white">#}
{#  {% include '@ts_wrin/design-system/molecules/section-title/section-title--example.twig' with {#}
{#    text: "Align side-by-side (default)"#}
{#  } %}#}
{#</div>#}
{#<div class="p-site xl:container py-block colorway-blue-500">#}
{#  {% include '@ts_wrin/design-system/molecules/section-title/section-title--example.twig' with {#}
{#    style: "left",#}
{#    text: "Align left"#}
{#  } %}#}
{#</div>#}
