.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: var(--spacer-4);
}

.mb-12 {
  margin-bottom: var(--spacer-12);
}
.mb-20 {
  margin-bottom: var(--spacer-20);
}
.margin-bottom-25 {
  margin-bottom: var(--spacer-25);
}

// Left margin
.ml-4 {
  margin-left: var(--spacer-4);
}

// Margin Right
.mr-30 {
  margin-right: var(--spacer-30);
}
.mr-40 {
  margin-right: var(--spacer-40);
}
.mr-25 {
  margin-right: var(--spacer-25);
}

// TAILWIND UTILITIES
.m-0 {
  margin: 0;
}
.my-6 {
  margin-top: var(--spacer-6);
  margin-bottom: var(--spacer-6);
}
.p-0 {
  padding: 0;
}
.p-7 {
  padding: var(--spacer-7);
}
.p-10 {
  padding: var(--spacer-10);
}
.pt-3 {
  padding-top: var(--spacer-3);
}
.pt-4 {
  padding-top: var(--spacer-4);
}
.pt-5 {
  padding-top: var(--spacer-5);
}
.pt-7 {
  padding-top: var(--spacer-7);
}
.pt-11 {
  padding-top: var(--spacer-11);
}
.pt-15 {
  padding-top: var(--spacer-15);
}
.pt-20 {
  padding-top: var(--spacer-20);
}
.pt-25 {
  padding-top: var(--spacer-25);
}
.pt-30 {
  padding-top: var(--spacer-30);
}
.pt-40 {
  padding-top: var(--spacer-40);
}
.pb-3 {
  padding-bottom: var(--spacer-3);
}
.pb-4 {
  padding-bottom: var(--spacer-4);
}
.pb-5 {
  padding-bottom: var(--spacer-5);
}
.pb-7 {
  padding-bottom: var(--spacer-7);
}
.pb-11 {
  padding-bottom: var(--spacer-11);
}
.pb-15 {
  padding-bottom: var(--spacer-15);
}
.pb-20 {
  padding-bottom: var(--spacer-20);
}
.pb-25 {
  padding-bottom: var(--spacer-25);
}
.pb-30 {
  padding-bottom: var(--spacer-30);
}
.pb-40 {
  padding-bottom: var(--spacer-40);
}
.pr-3 {
  padding-right: var(--spacer-3);
}
.pr-4 {
  padding-right: var(--spacer-4);
}
.pr-5 {
  padding-right: var(--spacer-5);
}
.pr-7 {
  padding-right: var(--spacer-7);
}
.pl-3 {
  padding-left: var(--spacer-3);
}
.pl-4 {
  padding-left: var(--spacer-4);
}
.pl-5 {
  padding-left: var(--spacer-5);
}
.pl-7 {
  padding-left: var(--spacer-7);
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-2 {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.w-30 {
  width: var(--spacer-30);
}
.h-0 {
  height: 0;
}
.h-1 {
  height: var(--spacer-1);
}
.h-2 {
  height: var(--spacer-2);
}
.h-3 {
  height: var(--spacer-3);
}
.h-4 {
  height: var(--spacer-4);
}
.h-5 {
  height: var(--spacer-5);
}
.h-6 {
  height: var(--spacer-6);
}
.h-7 {
  height: var(--spacer-7);
}
.h-10 {
  height: var(--spacer-11);
}
.h-11 {
  height: var(--spacer-11);
}
.h-12 {
  height: var(--spacer-12);
}
.h-15 {
  height: var(--spacer-15);
}
.h-20 {
  height: var(--spacer-20);
}
.h-25 {
  height: var(--spacer-25);
}
.h-30 {
  height: var(--spacer-30);
}
.h-40 {
  height: var(--spacer-40);
}


