.bg-green-500 {
  background-color: var(--color-green-500);
}
.bg-teal-500 {
  background-color: var(--color-teal-500);
}
.bg-blue-500 {
  background-color: var(--color-blue-500);
}
.bg-gold-500 {
  background-color: var(--color-gold-500);
}
.bg-gold-100 {
  background-color: var(--color-gold-100);
}
.bg-gold-300 {
  background-color: var(--color-gold-300);
}
.bg-black {
  background-color: var(--color-black);
}
.bg-neutral-900 {
  background-color: var(--color-neutral-900);
}
.bg-neutral-800 {
  background-color: var(--color-neutral-800);
}
.bg-neutral-600 {
  background-color: var(--color-neutral-600);
}
.bg-neutral-500 {
  background-color: var(--color-neutral-500);
}
.bg-neutral-400 {
  background-color: var(--color-neutral-400);
}
.bg-neutral-200 {
  background-color: var(--color-neutral-200);
}
.bg-white {
  background-color: var(--color-white);
}
.shadow {
--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

