/**
Classes that emulate tailwind, in case some day we start using tailwind.
 */
.absolute {
  position: absolute;
}
.block {
  display: block;
}
.md\:absolute {
  @include mq($md) {
    position: absolute;
  }
}
.md\:mt-xl {
  @include mq($md) {
    margin-top: var(--spacer-25);
  }
}
.md\:mt-xl {
  @include mq($md) {
    margin-top: 0;
  }
}
.flex {
  display: flex;
}
.gap-4 {
  gap: var(--spacer-4);
}
.gap-7 {
  gap: var(--spacer-7);
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.h-11 {
  height: var(--spacer-11);
}
.inline-block {
  display: inline-block;
}
.italic {
  font-style: italic;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.list-none {
  list-style-type: none;
}
.mb-xxs {
  margin-bottom: $space-xs;
}
.lg\:order-1 {
  @include mq($lg) {
    order: 1;
  }
}
.relative {
  position: relative;
}
.rounded-7 {
  border-radius: var(--spacer-7);
}
.shrink-0 {
  flex-shrink: 0;
}
.w-1\/4 {
  width: 25%;
}
.w-40 {
  width: var(--spacer-40);
}
.w-\[200px\] {
  width: 200px;
}
.w-\[300px\] {
  width: 300px;
}
.z-1 {
    z-index: 1;
}
