/* Button and link styles. */
/* @TODO: turn these styles into Tailwind components. */

.text-link {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  &:hover,
  &:focus-visible {
    color: var(--action);
  }
}

button.btn-underline {
  background-color: unset;
}

.btn-solid {
  background-color: var(--btn-solid-bg);
  border-radius: 3px;
  color: var(--btn-solid-text);
  display: inline-flex;
  font-family: var(--font-family-heading-condensed);
  font-weight: 700;
  font-size: 1rem;
  line-height: .875;
  margin: 0;
  padding: var(--spacer-5) var(--spacer-10);
  text-align: center;
  text-decoration: none;
  transition: color .2s linear, border-color .2s linear, background-color .2s linear;
  &:hover,
  &:focus-visible {
    background-color: var(--btn-solid-bg-hover);
    color: var(--btn-solid-text-hover);
   & .btn-svg svg path {
      fill: var(--btn-solid-svg-hover);
    }
  }
  & .btn-svg {
    align-items: center;
    display: inline-flex;
  }
  & .btn-svg svg path {
    fill: var(--btn-solid-svg);
  }
}

.btn-outline {
  border-radius: 3px;
  background-color: var(--btn-outline-bg);
  border: 2px solid var(--btn-outline-border);
  color: var(--btn-outline-text);
  display: inline-flex;
  font-family: var(--font-family-heading-condensed);
  font-weight: 700;
  font-size: 1rem;
  line-height: .875;
  margin: 0;
  padding: var(--spacer-5) var(--spacer-10);
  text-align: center;
  text-decoration: none;
  transition: color .2s linear, border-color .2s linear, background-color .2s linear;
  &:hover,
  &:focus-visible {
    background-color: var(--btn-outline-bg-hover);
    color: var(--btn-outline-text-hover);
  }
}
.btn-arrow {
  background-color: transparent;
  font-family: var(--font-family-heading-condensed);
  font-weight: 700;
  color: var(--primary);
  display: inline-flex;
  padding-left: 0;
  padding-right: var(--spacer-10);
  position: relative;
  text-decoration: none;

  svg {
    height: 100%;
    position: absolute;
    right: 0;
    top: 2px;
    width: 22px;
  }
  &:hover,
  &:focus-within {
    svg {
      @include keyframes_animate(float, 400ms, infinite, alternate);
      & {
        fill: var(--primary);
      }
    }
    @keyframes float {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(0.25em);
      }
    }
    &:before {
      visibility: hidden;
    }
  }
}

.btn--sm {
  font-size: 13px;
  padding: 10px var(--spacer-5);
  & .btn-svg svg {
    width: var(--spacer-1);
  }
  & .btn-svg--after {
    margin-left: var(--spacer-3);
  }
  & .btn-svg--before {
    margin-right: var(--spacer-3);
  }
}

.btn--lg {
  font-size: 16px;
  padding: var(--spacer-5) var(--spacer-10);
  & .btn-svg svg {
    width: var(--spacer-2);
  }
  & .btn-svg--after {
    margin-left: var(--spacer-4);
  }
  & .btn-svg--before {
    margin-right: var(--spacer-4);
  }
}
