/**
 * @file
 * CSS for the permissions matrix on the field settings page.
 */

/**
 * Do not display the hide/show descriptions link above the permissions matrix.
 */
#field-ui-field-edit-form .compact-link {
  display: none;
}

/**
 * Indent the matrix and make it appear inline with the corresponding radio button.
 */
#field-ui-field-edit-form table#permissions {
  margin-left: 1.5em;
  width: 98%;
}
