{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph--type--' ~ paragraph.bundle|clean_class,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content|without('field_title') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
