{% if webform_title %}
  {% set dialog_options = '{"drupalAutoButtons":false, "width":"800", "title":"' ~ webform_title ~ '"}' %}
{% else %}
  {% set dialog_options = '{"drupalAutoButtons":false, "width":"800"}' %}
{% endif %}
<a href="{{ webform_url }}" class="{{ classes }} button" data-dialog-type="modal" data-dialog-options="{{ dialog_options }}">{{ "Download"|t }}</a>
