{% if webform_title %}
  {% set dialog_options = "{&quot;drupalAutoButtons&quot;:false, &quot;width&quot;:&quot;800&quot;, &quot;title&quot;:&quot;webform_title&quot;}" %}
{% else %}
  {% set dialog_options = "{&quot;drupalAutoButtons&quot;:false, &quot;width&quot;:&quot;800&quot;}" %}
{% endif %}
<a href="{{ webform_url }}" class="{{ classes }} button" data-dialog-type="modal" data-dialog-options="{{ dialog_options|raw }}">{{ "Download"|t }}</a>
