/***
 * @file
 * VARIABLES - See theme Readme for more details.
 * ToDo: Change the values for these variables as they relate to your project.
 */

/* COLORS */
$true-black: #000000;
$black: #1a1919;
$hover-black: #686767;
$light-grey: #e8e8e7;
$light-gray: $light-grey;
$med-grey: #757575;
$med-gray: $med-grey;
$med-light-grey: #B1B1B1;
$med-light-gray: $med-light-grey;
$white: #ffffff;

$brand-gold: #f3b229;
$gold-tint: #fbe8be;
$gold-hover: #ffd271;
$green: #32864b;
$teal: #1b808d;
$blue: #3654a5;

/* FONTS */
// Base Font Family
$acumin-semi-cond: "acumin-pro-semi-condensed";
$acumin-pro: "acumin-pro";
$caslon: "adobe-caslon-pro";

// Base Font Size
$base-font-size: 16;

/* BREAKPOINTS */

// Small screen / phone
$sm: 0;
// Phablet / in between mobile and tablet
$ph: 501px;
// Medium screen / tablet
$md: 768px;
// Large screen / desktop
$lg: 1024px;
// Extra large screen / wide desktop
$xl: 1440px;
// Double Extra large screens / wide monitor
$xxl: 2000px;

//Padding values
$padding-vertical: 48px;

//Spacing values
$space-xs: 20px;
$space-sm: 30px;
$space-md: 45px;
$space-lg: 60px;
$space-xl: 120px;
$space-xxl: 160px;

/* GRID */
$grid-max-width: 1390px; // Where the content begins and ends for desktops.
$grid-max-width-xxl: 1575px; // Where the content begins and ends for xl screens.
$site-max-width: 3000px; // Where the site begins and ends regardless of larger screens.

//Use as base padding and margin sizes that relate back to the grid
$grid-gutter-mobile: 20px;
$grid-gutter: $padding-vertical;
$grid-gutter-double: $grid-gutter * 2;

$grid-columns-mobile: 4;
$grid-columns: 12;

/* MISC. */

// Transitions
$transition-defaults: 0.2s linear;
