/***
 * @file
 * Misc Sass Variables.
 * For CSS properties, see /sass/_elements/tokens.css
 */

// Base Font Size
$base-font-size: 16;

/* BREAKPOINTS */

// Small screen / phone
$sm: 0;
// Phablet / in between mobile and tablet
$ph: 501px;
// Medium screen / tablet
$md: 768px;
// Large screen / desktop
$lg: 1024px;
// Extra large screen / wide desktop
$xl: 1440px;
// Double Extra large screens / wide monitor
$xxl: 2000px;

//Padding values
$padding-vertical: 48px;

/* GRID */
$grid-max-width: 1390px; // Where the content begins and ends for desktops.
$grid-max-width-xxl: 1575px; // Where the content begins and ends for xl screens.
$site-max-width: 3000px; // Where the site begins and ends regardless of larger screens.

//Use as base padding and margin sizes that relate back to the grid
$grid-gutter-mobile: 20px;
$grid-gutter: $padding-vertical;
$grid-gutter-double: $grid-gutter * 2;

$grid-columns-mobile: 4;
$grid-columns: 12;

/* MISC. */
@keyframes float {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0.25em);
  }
}
