/***
 * @file
 * MIXINS - See theme Readme for more details.
 */

@use "sass:math";

/* MEDIA QUERIES */
@mixin mq($query) {
  @media (min-width: rem($query)) {
    @content;
  }
}

/* PX TO REM CONVERSION */
@function rem($pixels, $context: $base-font-size) {
  @if (math.is-unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (math.is-unitless($context)) {
    $context: $context * 1px;
  }
  @return math.div($pixels, $context) * 1rem;
}

/* FONTS */

// Font styles
// Example: @include font(var(--font-family-heading), "bold", "normal");
@mixin font($family: "adobe-caslon-pro", $weight: "bold", $style: "normal") {
  // Compute outputs first (no CSS emitted yet).
  $font-family: null;
  $font-weight: null;
  $font-style: null;

  @if ($family == "acumin-pro-semi-condensed" or $family == "acumin-pro") {
    $font-family: $family, sans-serif;
  } @else {
    $font-family: $family, serif;
  }

  @if ($weight == "black") {
    $font-weight: 900;
  } @else if ($weight == "bold") {
    $font-weight: 700;
  } @else if ($weight == "semibold") {
    $font-weight: 600;
  } @else if ($weight == "medium") {
    $font-weight: 500;
  } @else if ($weight == "normal") {
    $font-weight: 500;
  } @else if ($weight == "regular" or $weight == "book" or $weight == "italic") {
    $font-weight: 400;
  } @else if ($weight == "light") {
    $font-weight: 300;
  } @else if ($weight == "extralight") {
    $font-weight: 200;
  }

  @if ($style == "italic" or $weight == "italic") {
    $font-style: italic;
  }

  // Emit declarations explicitly at the current selector level.
  & {
    font-family: $font-family;
  }

  @if ($font-weight != null) {
    & {
      font-weight: $font-weight;
    }
  }

  @if ($font-style != null) {
    & {
      font-style: $font-style;
    }
  }
}

// Fonts and accessible line-heights. Apply the $size (font-size) and
// $line-height values from the designs here (in px). $baseFontSize is the
// base font-size assigned for this project.
// Example: @include font-line-height(15, 18);
@mixin font-line-height($font-size: $base-font-size, $line-height: 20) {
  & {
    font-size: math.div($font-size * 1px, $base-font-size * 1px) * 1rem;
    line-height: math.div($line-height, $font-size);
  }
}

/* GRID */

// Grid Browser Compliance (requires parent element with `.grid`)
@mixin column-width($start, $end) {
  $spanWidth: $end - $start;

  grid-column: #{$start} / #{$end};
  -ms-grid-column: #{$start} !important;
  -ms-grid-column-span: #{$spanWidth};
}

// Centers a column on the page
@mixin center-columns($centered-columns, $total-columns) {
  @if ($total-columns - $centered-columns == 0) {
    $total-columns: $total-columns + 1;
    @include column-width(1, $total-columns);
  } @else {
    $position-left: math.div(($total-columns - $centered-columns), 2) + 1;
    $position-right: $position-left + $centered-columns;
    @include column-width(#{$position-left}, #{$position-right});
  }
}

// Gutter spacing w/ Grid
@mixin grid-equal-items($items-in-row) {
  @if ($items-in-row == 2) {
    $percent: calc(50% - (#{$grid-gutter-mobile} / 2));
    @include mq($ph) {
      $percent: calc(50% - (#{$grid-gutter-mobile} / 2));
    }
    @include mq($lg) {
      $percent: calc(50% - (#{$grid-gutter} / 2));
    }
    grid-template-columns: $percent $percent;
  } @else if ($items-in-row == 3) {
    $percent: calc(33.33% - (#{$grid-gutter-mobile} / 1.5));
    @include mq($ph) {
      $percent: calc(33.33% - (#{$grid-gutter-mobile} / 1.5));
    }
    @include mq($lg) {
      $percent: calc(33.33% - (#{$grid-gutter} / 1.5));
    }
    grid-template-columns: $percent $percent $percent;
  } @else if ($items-in-row == 4) {
    $percent: calc(25% - #{$grid-gutter-mobile});
    @include mq($ph) {
      $percent: calc(25% - #{$grid-gutter-mobile});
    }
    @include mq($lg) {
      $percent: calc(25% - #{$grid-gutter});
    }
    grid-template-columns: $percent $percent $percent $percent;
  } @else {
    $percent: 100%;
    grid-template-columns: $percent;
  }
}

/* FLEXBOX */

// Wrapper for a flex grid - the arguments set the justification and the
// starting breakpoint.
//
// Note: Use if needing to create a grid with items centered in the final row.
// In the case of left-aligned final row items, use grid-equal-items() above.
//
// flex-basis will need to be added to the items themselves. Ex. 25% for 4 across.
@mixin flex-grid-wrapper($justify: center, $bp-start: $sm) {
  @include margin-gutter(left, half, minus);
  @include margin-gutter(right, half, minus);
  @include mq($bp-start) {
    @include margin-gutter(left, half, minus);
    @include margin-gutter(right, half, minus);
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
  }
  @content;
}

// Pass in "right, left, top or bottom" to add consistent margin; pass in 'half' to halve the margin; pass in 'minus' to set a negative margin.
@mixin margin-gutter($side: bottom, $half: false, $minus: false) {
  @if ($half == false) {
    @if ($minus == false) {
      margin-#{$side}: $grid-gutter-mobile;
      @include mq($ph) {
        margin-#{$side}: $grid-gutter-mobile;
      }
      @include mq($lg) {
        margin-#{$side}: $grid-gutter;
      }
    }
  } @else {
    @if ($minus == false) {
      margin-#{$side}: math.div($grid-gutter-mobile, 2);
      @include mq($ph) {
        margin-#{$side}: math.div($grid-gutter-mobile, 2);
      }
      @include mq($lg) {
        margin-#{$side}: math.div($grid-gutter, 2);
      }
    } @else {
      margin-#{$side}: (math.div($grid-gutter-mobile, 2) * -1);
      @include mq($ph) {
        margin-#{$side}: (math.div($grid-gutter-mobile, 2) * -1);
      }
      @include mq($lg) {
        margin-#{$side}: (math.div($grid-gutter, 2) * -1);
      }
    }
  }
}

// Pass in "right, left, top or bottom" to add consistent padding; pass in 'half' to halve the padding.
@mixin padding-gutter($side: bottom, $half: false) {
  @if ($half == false) {
    padding-#{$side}: $grid-gutter-mobile;
    @include mq($ph) {
      padding-#{$side}: $grid-gutter-mobile;
    }
    @include mq($lg) {
      padding-#{$side}: $grid-gutter;
    }
  } @else {
    padding-#{$side}: math.div($grid-gutter-mobile, 2);
    @include mq($ph) {
      padding-#{$side}: math.div($grid-gutter-mobile, 2);
    }
    @include mq($lg) {
      padding-#{$side}: math.div($grid-gutter, 2);
    }
  }
}

// Each argument is items per row in each breakpoint
@mixin flex-grid-item(
  $sm-num: 1,
  $ph-num: 2,
  $md-num: 3,
  $sl-num: 3,
  $lg-num: 4,
  $xl-num: 4,
  $xxl-num: 4
) {
  $breakpoints: ($sm, $sm-num), ($ph, $ph-num), ($md, $md-num), ($lg, $lg-num),
    ($xl, $xl-num), ($xxl, $xxl-num);

  // Default styles
  @include padding-gutter(left, half);
  @include padding-gutter(right, half);
  box-sizing: border-box;

  @each $bp, $bp-num in $breakpoints {
    @include mq($bp) {
      @if ($bp-num > 0) {
        flex: 0 0 calc(100% / #{$bp-num});
        max-width: calc(100% / #{$bp-num});
      }
    }
  }
  @content;
}

/* DECORATIVE ELEMENTS */

// Background Images
@mixin bg_image_setup {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Gradients & Overlays
// Set parent of pseudo element to position relative
@mixin gradient_setup {
  content: "";
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

// Transparent at the top.
@mixin hero_bottom_gradient($direction: to top, $color: var(--color-neutral-900)) {
  background: transparent
    linear-gradient($direction, rgba($color, 1) 0%, rgba($color, 0) 30%);
  @include mq($md) {
    background: transparent
      linear-gradient(
        $direction,
        rgba($color, 1) 0%,
        rgba($color, 0.9) 10%,
        rgba($color, 0.8) 20%,
        rgba($color, 0.6) 35%,
        rgba($color, 0.2) 60%,
        rgba($color, 0) 100%
      );
  }
}

// Transparent at the top.
@mixin hero_bottom_gradient_medium($direction: to top, $color: var(--color-neutral-900)) {
  background: transparent
    linear-gradient(
      $direction,
      rgba($color, 1) 0%,
      rgba($color, 0) 40%
    );
  @include mq($md) {
    background: transparent
      linear-gradient(
        $direction,
        rgba($color, 1) 0%,
        rgba($color, 0.7) 15%,
        rgba($color, 0.5) 30%,
        rgba($color, 0) 50%
      );
  }

  @include mq($lg) {
    background: transparent
      linear-gradient(
        $direction,
        rgba($color, 1) 0%,
        rgba($color, 0.6) 15%,
        rgba($color, 0.4) 30%,
        rgba($color, 0.2) 45%,
        rgba($color, 0) 60%
      );
  }
  @include mq($xl) {
    background: transparent
      linear-gradient(
        $direction,
        rgba($color, 0.6) 0%,
        rgba($color, 0.3) 25%,
        rgba($color, 0) 50%
      );
  }
}

// Transparent at the top.
@mixin hero_bottom_gradient_heavy($direction: to top, $color: var(--color-neutral-900)) {
  background: transparent
    linear-gradient($direction, rgba($color, 1) 0%, rgba($color, 0) 30%);
  @include mq($md) {
    background: transparent
      linear-gradient(
        $direction,
        rgba($color, 1) 0%,
        rgba($color, 1) 25%,
        rgba($color, 0.85) 50%,
        rgba($color, 0.75) 60%,
        rgba($color, 0.6) 80%,
        rgba($color, 0) 100%
      );
  }
}

// Underlined links and text
@mixin text-underline($color-bg: transparent, $color-text: var(--color-green-500)) {
  & {
    background-image: linear-gradient(to right, $color-bg, $color-bg),
      linear-gradient(to right, $color-text, $color-text);
    background-position: left 74%;
    background-repeat: no-repeat;
    background-size: 100% 2px, 0 2px;
    text-decoration: none;
    transition: 0.5s;
  }

  @include hocus {
    & {
      background-size: 100% 0, 100% 2px;
    }
  }
}


// Underlined links and text - thin-line
@mixin text-underline-thin(
  $color-bg: transparent,
  $color-text: var(--color-green-500),
  $start: 0,
  $end: 100%
) {
  & {
    background-image: linear-gradient(to right, $color-bg, $color-bg),
      linear-gradient(to right, $color-text, $color-text);
    background-position: left 74%;
    background-repeat: no-repeat;
    background-size: 100% 1px, $start 1px;
    text-decoration: none;
    transition: 0.5s;
  }

  @include hocus {
    & {
      background-size: 100% 0, $end 1px;
    }
  }
}

/* UTILITIES */

/* Accessibly hide - make visibly hidden.
Reference: https://www.drupal.org/docs/8/accessibility/hide-content-properly.*/
@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  word-wrap: normal;
}

// Combine active, hover, and focus for accessibility purposes
@mixin hocus {
  &:active,
  &:hover,
  &:focus {
    @content;
  }
}

// Placeholder text
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

// Remove webkit appearance from form fields
@mixin form-foundation {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

// IE 10 and 11 Support
@mixin support-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }

  @supports (-ms-ime-align: auto) {
    @content;
  }
}

/* UNIQUE TO PROJECT */

// For containers that need 'standard padding' (i.e., not full-width).
@mixin container-padding {
  margin-left: $grid-gutter-mobile;
  margin-right: $grid-gutter-mobile;
  @include mq($md) {
    margin-left: $grid-gutter-mobile;
    margin-right: $grid-gutter-mobile;
  }
  @include mq($lg) {
    margin-left: $grid-gutter;
    margin-right: $grid-gutter;
  }
  @media (min-width: rem(1581)) {
    margin-left: auto;
    margin-right: auto;
  }
}

// Adding this as a mixin b/c the selectors use different media queries.
@mixin header-right($main-color, $hocus-color) {
  .header-right .tray-toggle svg,
  .header-right .tray-toggle svg path {
    fill: $main-color;
    stroke: $main-color;
    transition: all var(--transition-default);
  }
  .header-right .tray-toggle {
    @include hocus {
      outline: none;
      svg,
      svg path {
        fill: $hocus-color;
        stroke: $hocus-color;
        outline: none;
      }
    }
    &.toggled {
      svg,
      svg path {
        fill: var(--color-gold-500);
        stroke: var(--color-gold-500);
      }
    }
  }
  .header-right .menu-toggle div span,
  .header-right .menu-toggle div span:before,
  .header-right .menu-toggle div span:after {
    background-color: $main-color;
    transition: all var(--transition-default);
  }
  .header-right .menu-toggle {
    @include hocus {
      outline: none;
      div span,
      div span:before,
      div span:after {
        background-color: $hocus-color;
      }
    }
  }
}
