/**
 * @file
 * FORMS - global form element styling.
 */
input,
textarea {
  transition: color $transition-defaults, border-color $transition-defaults, background-color $transition-defaults;
}

input[type="text"].ghost {
  @include font($acumin-semi-cond, "regular", "normal");
  @include font-line-height(16, 22);
  background-color: transparent;
  border: 1px solid $light-grey;
  color: $white;
  height: 40px;
  padding: 8px 15px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  @include mq($md) {
    height: 50px;
    padding: 12px 20px;
  }
  @include mq($lg) {
    height: 60px;
    padding: 18px 25px;
  }
  @include hocus() {
    border-color: $white;
    background-color: $true-black;
    outline: none;
  }
}

.form-required:after {
  background-image: url('../img/svgs/required.svg');
}

.single-border {
  border: 1px solid $light-grey;
  input[type="text"].ghost {
    border: none;
    border-right: 1px solid $light-grey;
  }
  input[type="submit"].ghost {
    border: none;
  }
}

#wri-stay-informed-footer .form-item {
  position: relative;
  label {
    left: 10px;
    position: absolute;
    top: 5px;
    transition: top 0.3s ease-in, left 0.3s ease-in, font-size 0.3s ease-in;
  }
  &.form-item-datetime label,
  &.form-item-range label,
  &.form-item-color label {
    position: static;
  }

  &.move-label label,
  &.has-value label {
    font-size: 10px;
    top: 2px;
    transition: top 0.3s ease-out, left 0.3s ease-out, font-size 0.3s ease-out;
  }
}

#wri-stay-informed-footer {
  position: relative;
  -webkit-font-smoothing: auto;
  letter-spacing: 0.3px;
  div[id^=edit-actions] {
    margin: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 10;
    input {
      border-radius: 0;
    }
  }
  .form-item label {
    top: 25%;
  }
}

form.webform-submission-form {

  label {
    @include font($acumin-semi-cond, "regular", "normal");
    @include font-line-height(16, 22);
  }

  .fieldset-legend {
    @include font($acumin-semi-cond, "regular", "normal");
    @include font-line-height(16, 22);
    position: relative;
    top: -4px;
  }

  .checkboxes--wrapper {
    .fieldset-legend {
      @include font($acumin-semi-cond, "regular", "normal");
      @include font-line-height(16, 20);
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="phone"],
  input[type="date"],
  input[type="time"],
  input[type="number"],
  input[type="url"],
  input[type="week"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="datetime-local"],
  input[type="month"],
  select {
    @include font($acumin-semi-cond, "regular", "normal");
    @include font-line-height(18, 22);
    align-items: center;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    color: $black;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    transition: all 0.3s ease-in;
    @include hocus() {
      border-color: $true-black;
      outline: none;
    }
    &.error {
      border-color: #F00;
    }

    @include mq ($lg) {
      width: auto;
    }
  }

  .form-type-datetime input {
    display: inline;
  }

  .form-type-select {
    select {
      @include hocus() {
        border-color: $true-black;
        outline: none;
      }
    }
  }

  .fieldset-wrapper .form-type-select {
    margin: 0;
  }

  .form-type-checkbox,
  .form-type-radio {
    margin-bottom: 8px;

    input[type="checkbox"] {
      border: 1px solid $med-grey;
      border-radius: 20%;
      height: 18px;
      width: 18px;

      &:checked,
      &:focus,
      &:hover,
      &.selected {
        background: $black;
      }

      &:focus {
        outline: none;
      }
    }

    input[type="radio"] {
      border: 1px solid $med-grey;
      border-radius: 50%;
      height: 18px;
      margin-bottom: -2px;
      width: 18px;

      &:checked,
      &.selected {
        background: $black;
      }

      &:focus {
        outline: none;
      }
    }

    label {
      @include font($acumin-semi-cond, "regular", "normal");
      @include font-line-height(15, 15);
      color: $black;
    }
  }

  textarea {
    padding: 12px 16px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    color: $black;
    font-weight: 400;
    transition: all 0.3s ease-in;
    @include hocus() {
      border-color: $true-black;
      outline: none;
    }
    &:focus-visible {
      outline: none;
    }
  }
}

.block-webform .webform-outer {
  @include center-columns($grid-columns-mobile, $grid-columns-mobile);

  @include mq($ph) {
    @include center-columns($grid-columns, $grid-columns);
  }
}

.webform-flex--container select {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .webform-flex--container select {
    width: 100%;
  }
}
