{#
/**
 * @file
 * Display Suite Card template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<div class="grid top-border-thick">
  <h2 class="h3">{{ content.title }}</h2>
  <div class="impact-list">
    {{ content.impacts }}
  </div>
</div>
