.field-label-inline {
  display: block;
  font-family: 'acumin-pro-semi-condensed';
  font-weight: bold;
  margin: 1em 0 0;
}

.field-label-inline::after {
  content: ':';
}

.field-label-above {
  margin: 1em 0 0;
}


.int-office {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  text-align: left;
}

span.int-office {
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-weight: 700;
  background-image: linear-gradient(to right, transparent, transparent), linear-gradient(to right, #1a1919, #1a1919);
  background-position: left 74%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 2px;
  text-decoration: none;
  transition: .5s;
  background-position: left 100%;
  padding-bottom: 5px;
}

.int-office:before {
  background: rgba(0, 0, 0, 0) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTFweCIgaGVpZ2h0PSIxN3B4IiB2aWV3Qm94PSIwIDAgMTEgMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8dGl0bGU+aWNvbm1vbnN0ci1sb2NhdGlvbi0yICgxKTwvdGl0bGU+CiAgICA8ZyBpZD0iUGVyc29uIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8ZyBpZD0iUGVyc29uLURldGFpbC1Sb2J1c3QtLS1EZXNrdG9wIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMzIxLjAwMDAwMCwgLTQ2NS4wMDAwMDApIiBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iPgogICAgICAgICAgICA8ZyBpZD0ibWFzdGhlYWQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2Mi4wMDAwMDAsIDIyMS4wMDAwMDApIj4KICAgICAgICAgICAgICAgIDxnIGlkPSJwcmltYXJ5LWluZm8iIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuMDAwMDAwLCAyMzMuMDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9Imljb25tb25zdHItbG9jYXRpb24tMi0oMSkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE1OS4wMDAwMDAsIDExLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNS41LDEuMzc1IEM3LjY5NzI1LDEuMzc1IDkuNjI1LDMuMTc0ODc1IDkuNjI1LDUuMjI2Mzc1IEM5LjYyNSw3LjM1MjgxMjUgNy45MTEwNjI1LDEwLjEyOTYyNSA1LjUsMTMuOTMwODEyNSBDMy4wODg5Mzc1LDEwLjEyOTYyNSAxLjM3NSw3LjM1MjgxMjUgMS4zNzUsNS4yMjYzNzUgQzEuMzc1LDMuMTc0ODc1IDMuMzAyNzUsMS4zNzUgNS41LDEuMzc1IE01LjUsMCBDMi42MTM4NzUsMCAwLDIuMzM5NTYyNSAwLDUuMjI2Mzc1IEMwLDguMTEyNSAyLjM4NDkzNzUsMTEuNTU4MjUgNS41LDE2LjUgQzguNjE1MDYyNSwxMS41NTgyNSAxMSw4LjExMjUgMTEsNS4yMjYzNzUgQzExLDIuMzM5NTYyNSA4LjM4NjgxMjUsMCA1LjUsMCBaIE01LjUsNy41NjI1IEM0LjM2MDgxMjUsNy41NjI1IDMuNDM3NSw2LjYzOTE4NzUgMy40Mzc1LDUuNSBDMy40Mzc1LDQuMzYwODEyNSA0LjM2MDgxMjUsMy40Mzc1IDUuNSwzLjQzNzUgQzYuNjM5MTg3NSwzLjQzNzUgNy41NjI1LDQuMzYwODEyNSA3LjU2MjUsNS41IEM3LjU2MjUsNi42MzkxODc1IDYuNjM5MTg3NSw3LjU2MjUgNS41LDcuNTYyNSBaIiBpZD0iU2hhcGUiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==) no-repeat center center / contain;
}

.int-office:before {
  content: "";
  display: inline-block;
  height: 16px;
  line-height: 1.5rem;
  padding-right: 15px;
  position: relative;
  transition: background .2s linear;
  text-decoration: none;
}

@media (max-width: 1023px){

  .layout__region.layout__region--main_content.main-content.margin-bottom-lg {
    margin-top: 50px;
  }
}
