<div class="unfriendly-block">
  <div class="grid top-border-thick"><div class="narrative-taxonomy">{{ content.phrase }}</div></div>
  <div class="content grid"><div class="layout__region--listing">{{ content.main_content }}</div>
    {% if content.listing.field_more_link|render %}
      <div class="layout__region--more-link">
        <span class="more-link__line"></span>
        {{ content.listing.field_more_link }}
      </div>
    {% endif %}
  </div>
</div>
