version: 2
jobs:
  build_theme:
    docker:
      - image: cimg/node:20.11.1
    steps:
      - checkout
      - run:
          name: Install Theme Dependencies
          command: |
            npm install --prefix themes/custom/ts_wrin
            npm run build --prefix themes/custom/ts_wrin
            if [[ `git status --porcelain themes/custom/ts_wrin/dist/main.css` ]]; then
              echo "Note this PR changes themes/custom/ts_wrin/dist/main.css. Please verify these changes are committed and don't break your theme.";
              exit 1;
            elif [[ `git status --porcelain themes/custom/ts_wrin/dist/main.min.js` ]]; then
              echo "Note this PR changes themes/custom/ts_wrin/dist/main.min.js. Please verify these changes are committed and don't break your theme.";
              exit 1;
            else
              echo "themes/custom/ts_wrin/dist/main.css is up to date.";
            fi
  build:
    docker:
      - image: wodby/php:8.3
        environment:
          IS_CIRCLE: TRUE
          PHP_MEMORY_LIMIT: 256M
          PHP_CLI_MEMORY_LIMIT: 256M
      - image: wodby/mariadb
        environment:
          MYSQL_RANDOM_ROOT_PASSWORD: 1
          MYSQL_USER: drupal
          MYSQL_PASSWORD: drupal
          MYSQL_DATABASE: circletest
    working_directory: /var/www/html/drupal-project
    steps:
      - checkout
      - run:
          name: Test site install works.
          command: |
            /docker-entrypoint.sh
            export PATH="./vendor/bin:../vendor/bin:/root/.composer/vendor/bin:$PATH"
            COMPOSER_MEMORY_LIMIT=-1 composer create-project --prefer-dist --stability=dev wri/wri-starter-kit:dev-views_arg circletest
            cd circletest
            COMPOSER_MEMORY_LIMIT=-1 composer require wri/wri_sites:dev-${CIRCLE_BRANCH} --update-with-dependencies --no-scripts
            ./vendor/bin/phpcs --standard=Drupal --extensions=php,module,inc,install,test,profile,theme,info,txt,md --ignore=node_modules,bower_components,vendor ./web/profiles/contrib/wri_sites/modules
            ./vendor/bin/phpcs --standard=Drupal --extensions=php,module,inc,install,test,profile,theme,info,txt,md --ignore=node_modules,bower_components,vendor ./web/profiles/contrib/wri_sites/themes/custom
            ./vendor/bin/phpcs --standard=DrupalPractice --extensions=php,module,inc,install,test,profile,theme,info,txt,md --ignore=node_modules,bower_components,vendor ./web/profiles/contrib/wri_sites/modules
            ./vendor/bin/phpcs --standard=DrupalPractice --extensions=php,module,inc,install,test,profile,theme,info,txt,md --ignore=node_modules,bower_components,vendor ./web/profiles/contrib/wri_sites/themes/custom
            drush si wri_sites -y --verbose --db-url=mysql://drupal:drupal@127.0.0.1:3306/circletest
            drush en wri_package -y
            drush en wri_package2 -y
workflows:
  version: 2
  build-and-test:
    jobs:
      - build_theme
      - build
  weekly-test:
    triggers:
      - schedule:
          cron: "0 0 * * 4"
          filters:
            branches:
              only:
                - main
    jobs:
      - build
