<header>
  <div class="container header-wrapper">
    New horizontal logo here in web/profiles/contrib/wri_sites/themes/custom/ts_wrin/templates/_includes/_microsite-header.html.twig
    <div class="header-right white">
      {% include '@ts_wrin/ts_custom/ts-hamburger-nav.html.twig' %}
    </div>
  </div>
</header>
