<div class="pfp-mobile-nav">

  {# Header #}
  <div class="pfp-mobile-nav__header">

    {# WRI Logo #}
    <div class="pfp-mobile-nav__logo">
      <a href="/">
        <img src="../profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/wri-logo-stacked.png" />
      </a>
    </div>

    {# Close #}
    <div>
      <button class="pfp-mobile-nav__close" aria-label="{{ 'Close mobile menu'|t }}">
        <div class="pfp-mobile-nav__close__1"></div>
        <div class="pfp-mobile-nav__close__2"></div>
      </button>
    </div>
  </div>

  {# WRI Menu #}
  <button class="pfp-mobile-nav__wri-logo">
    <div class="pfp-mobile-nav__wri-logo__chevron">
      {{ source('profiles/contrib/wri_sites/themes/custom/ts_wrin/img/svgs/chevron-left.svg') }}
    </div>
    <div class="pfp-mobile-nav__wri-logo__text">
      <span class="visually-hidden">Open</span> WRI <span class="visually-hidden">website navigation</span>
    </div>
  </button>

  {# PFP Logo SVG #}
  <div class="pfp-mobile-nav__pfp-logo">
    <a href="/paying-for-paris">
      <span class="visually-hidden">Paying for the Paris Agreement</span>
      {{ source('profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/pfp-logo.svg') }}
    </a>
  </div>

  {# Menu #}
  <div class="pfp-mobile-nav__menu">
    {{ menu_items}}
  </div>
</div>