<header class="pfp-header pfp-content-side-padding">
  <div class="pfp-container">
    {# Row 1 #}
    <div class="pfp-header__row-1">

      {# Logo #}
      <div class="pfp-header__logo-wrap">
        <a class="pfp-header__logo-wrap-link--wri" href="/">
          <img class="pfp-header__logo-white" src="../profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/wri-logo-horizontal.png" alt="World Resources Institute Logo">
          <img aria-hidden="true" class="pfp-header__logo-color" src="../profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/wri-logo-horizontal-color.png" alt="World Resources Institute Logo">
        </a>
        <a class="pfp-header__logo-wrap-link--pfp" href="/" aria-label="Paying For the Paris Agreement" >
          {{ source('profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/pfp-logo-stacked.svg') }}
        </a>
      </div>

      {# Menu toggle #}
      <div>
        {# Desktop #}
        <div class="pfp-header__menu-toggle-wrap-desktop">
          {% include '@ts_wrin/ts_custom/ts-hamburger-nav.html.twig' %}
        </div>

        {# Mobile #}
        <div class="pfp-header__menu-toggle-wrap-mobile">
          {% include '@ts_wrin/ts_custom/ts-hamburger-nav.html.twig' with {
            class_name: 'menu-toggle mobile-menu-toggle',
          } %}
        </div>
      </div>
    </div>

    {# Row 2 #}
    <div class="pfp-header__row-2">

      {# Logo #}
      <div class="pfp-header__paris-logo-wrap">
        {% set homeLink = content['#node'] ?  path('entity.node.canonical', {'node': content['#node'].id}) : url('<current>') %}
        <a class="pfp-header__pfp-logo" href="{{ homeLink }}">
          {{ source('profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/pfp-logo.svg') }}
        </a>
      </div>

      {# Links #}
      <div class="pfp-header__links">
        {% if (content.hero.field_toc is not empty) and (content.hero.field_toc['#value'] == 'microsite') %}
          {{ content.hero.field_toc }}
        {% endif %}
      </div>
    </div>
  </div>

  {# Mobile menu #}
  {% if (content.hero.field_toc is not empty) and (content.hero.field_toc['#value'] == 'microsite') %}
    {% include '@ts_wrin/_includes/_microsite-mobile-nav.html.twig' with {
      menu_items: content.hero.field_toc,
    } only %}
  {% endif %}
</header>
