<header class="pfp-header pfp-content-side-padding">
  <div class="pfp-container">
    {# Row 1 #}
    <div class="pfp-header__row-1">

      {# Logo #}
      <div class="pfp-header__logo-wrap">
        <a class="pfp-header__logo-wrap" href="/">
          <img class="pfp-header__logo-white" src="profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/wri-logo-horizontal.png" alt="World Resources Institute Logo">
          <img aria-hidden="true" class="pfp-header__logo-color" src="profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/wri-logo-horizontal-color.png" alt="World Resources Institute Logo">
        </a>
      </div>

      {# Hamburger #}
      <div>
        {% include '@ts_wrin/ts_custom/ts-hamburger-nav.html.twig' %}
      </div>
    </div>

    {# Row 2 #}
    <div class="pfp-header__row-2">

      {# Logo #}
      <div class="pfp-header__paris-logo-wrap">
        {# TODO: Add in correct link #}
        <a class="pfp-header__pfp-logo" href="/">
          {{ source('profiles/contrib/wri_sites/themes/custom/ts_wrin/img/logo/pfp-logo.svg') }}
        </a>
      </div>

      {# Links #}
      <div class="pfp-header__links">
        {% if (content.hero.field_toc is not empty) and (content.hero.field_toc['#value'] == 'microsite') %}
          {{ content.hero.field_toc }}
        {% endif %}

      </div>
    </div>
  </div>
</header>
