{%
  set classes = [
  configuration.id,
  derivative_plugin_id
]
%}
{% set heading_id = 'menu-toc' %}
<nav role="navigation" id="{{ heading_id }}" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby','id') }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
