{#
/**
* Banner on /style-guide.
*
* Available variables:
* - heading: the title of the section
*/
#}
<div class="colorway-blue-500 py-block xl:container p-site" id="welcome">
  <h2 class="color-primary heading-1">{{ heading }}</h2>
</div>
