{#
/**
* H2 section title on /style-guide.
*
* Available variables:
* - id: unique id for the section
* - heading: the title of the section
* - description: the description of the section
*/
#}

<div class="styleguide-component--h2-section-title mt-12 mb-24 p-site xl:container" id="{{ id }}">
  <div class="mb-3 inline-block">
    <h2 class="h2 mb-0 color-secondary">{{ heading }}</h2>
  </div>
  <p class="utility-xl">{{ description }}</p>
</div>
