{#
/**
 * @file
 * Theme implementation for the footer email element.
 */
#}
{# {{ dump( attributes ) }} #}
<form id="wri-stay-informed-footer" action="" method="post">
  {{ title_prefix }}
  {{ children }}
  {{ title_suffix }}
</form>
