{#To place this template elsewhere on the site, use: {% include '@ts_wrin/includes/spacing-variables.html.twig' %}#}


<div style="border: 1px solid hotpink; box-sizing: border-box">
  <h3 class="margin-bottom-xl margin-top-xl">.margin-bottom-xl .margin-top-xl</h3>
</div>

<div style="border: 1px solid gold; box-sizing: border-box" >
  <p class="margin-top-zero margin-bottom-xs">.margin-bottom-xs</p>
</div>

<div style="border: 1px solid teal; box-sizing: border-box" >
  <p class="margin-top-zero margin-bottom-sm margin-top-xs">.margin-bottom-sm</p>
</div>

<div style="border: 1px solid red; box-sizing: border-box" >
  <p class="margin-top-zero margin-bottom-md margin-top-xs">.margin-bottom-md</p>
</div>

<div style="border: 1px solid royalblue; box-sizing: border-box" >
  <p class="margin-top-zero margin-bottom-lg margin-top-xs">.margin-bottom-lg</p>
</div>

<div style="border: 1px solid hotpink; box-sizing: border-box" >
  <p class="margin-top-zero margin-bottom-xl margin-top-xs">.margin-bottom-xl</p>
</div>
