@tailwind base;
@tailwind components;
@tailwind utilities;

@import "config/_01.vars.scss";

.ck-content {
  @import "config/_02.mixins.scss";
  @import "config/_03.extends.scss";
  @import "config/_04.base.scss";
  @import "config/_05.buttons.scss";
  @import "config/_06.forms.scss";
  @import "_elements/tokens/colors-text-bg.scss";
  /* GLOBAL */
  @import "global/_wysiwyg.scss";
  @import "components/_teaser.scss";
  @import "components/_entity-embed.scss";
  .media--view-mode-full-width {
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
  }

  .field--name-thumbnail {
    display: block;
  }

  .callout.alignright,
  blockquote p.text-align-right,
  .report-teaser.alignright {
    margin-right: 0;
  }

  .callout.alignleft,
  blockquote p.text-align-left {
    margin-left: 0;
  }

  blockquote p.with-quote {
    text-indent: 0;
  }

  blockquote p.with-quote:before {
    top: -20px;
  }

  blockquote p {
    float: none !important;
  }

  // Setting up the editor for Articles and Publications, which use a serif font.
  .node-publication-edit-form .field--name-body &,
  .node-article-edit-form .field--name-body &,
  .node-publication-form .field--name-body &,
  .node-article-form .field--name-body & {
    @include font($caslon, "regular");
    @include font-line-height(20, 30);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $black;
  }
}
