/**
Classes that emulate tailwind, in case some day we start using tailwind.
 */

.col-start-1 {
  grid-column-start: 1;
}

.col-end-4 {
  grid-column-end: 12;
}

.md\:col-start-11 {
  @include mq($md) {
    grid-column-start: 11;
  }
}

.md\:col-end-12 {
  @include mq($md) {
    grid-column-end: 12;
  }
}

.xl\:col-start-10 {
  @include mq($xl) {
    grid-column-start: 10;
  }
}

.absolute {
  position: absolute;
}

.md\:absolute {
  @include mq($md) {
    position: absolute;
  }
}

.italic {
  font-style: italic;
}

.mb-xxs {
  margin-bottom: $space-xs;
}
