body.noscroll {
  overflow: hidden;
}

#tray-nav-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

#tray-nav-canvas {
  height: 100%;
  left: 0;
  position: relative;
  transition: left 0.5s ease-in-out;
  width: 100%;
  padding-top: 72px;

  @include mq($md) {
    padding-top: 113px;
  }

  .showing-main-menu & {
    padding-top: 122px;
  }

  .path-frontpage &,
  .transparent-header & {
    padding-top: 0;
  }
}

.tray-nav__close {
  background-color: transparent;
  border: none;
  height: 22px;
  position: absolute;
  right: 0;
  top: -25px;
  width: 22px;
}

/* .filter-canvas is set on page.html.twig */
#tray-nav-wrapper.show-tray #tray-nav-canvas {
  left: -330px;
  @include mq($md) {
    left: -480px;
  }
  #tray-nav {
    overflow-y: scroll;
    right: 0;
    z-index: 2;
  }
}

// Tray wrapper and contents
#tray-nav {
  background: #1a1919;
  box-sizing: border-box;
  color: #ffffff;
  height: 100%;
  padding: 15px 15px 115px 15px;
  position: fixed;
  right: -330px;
  top: 0;
  transition:
    right 0.5s ease-in-out,
    width 0.5s ease-in-out;
  width: 330px;
  @include mq($md) {
    padding: 30px 30px 130px 30px;
    right: -480px;
    width: 480px;
  }

  .tray-contents {
    display: none;

    &.show {
      display: block;
    }
  }

  .user-logged-in & {
    top: rem(39);
  }
  .user-logged-in.toolbar-tray-open & {
    top: rem(79);
  }
}
.block-wri-search,
.block-language,
.block-wri-filter {
  position: relative;
}

.block-wri-search {
  h2.tray-nav-h2 {
    @include font($acumin-semi-cond, "bold", "normal");
    & {
      margin-bottom: 6px;
      margin-top: 20px;
    }
  }
  p.tray-nav-description {
    @include font($acumin-semi-cond, "light", "normal");
    @include font-line-height(18, 28);
    & {
      margin-bottom: 36px;
      margin-top: 0;
    }
  }

  form {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  .input-wrapper {
    flex: 1 1 auto;
  }
  input[type="text"] {
    width: 100%;
    height: 60px;
    padding: 18px 25px;
  }
  input[type="submit"] {
    flex: 0 1 auto;
  }

  label {
    @include font($acumin-semi-cond, "light", "normal");
    @include font-line-height(16, 22);
    & {
      left: 10px;
      position: absolute;
      top: 19px;
      transition:
        top 0.3s ease-in,
        left 0.3s ease-in,
        font-size 0.3s ease-in;
    }
    @include mq($md) {
      left: 25px;
    }
  }
  .move-label label,
  .has-value label {
    font-size: rem(10);
    top: 2px;
    transition:
      top 0.3s ease-out,
      left 0.3s ease-out,
      font-size 0.3s ease-out;
  }

  .button.ghost {
    height: 60px;
    padding: 18px 12px;
    @include mq($md) {
      padding: 18px 25px;
    }
  }
}

.search-menu-block {
  padding: 20px 0;
  color: #f3b229;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  @include font($acumin-semi-cond, "bold", "normal");

  li {
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
  }
}
