.heading-1 {
  @include font($acumin-semi-cond, "bold", "normal");
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -1.23px;
  @include mq($lg) {
    font-size: 74px;
  }
}

// Reverts green to context color on hover/focus
.hocus-primary a {
  color: var(--color-green);
  background: none;
  text-decoration: none;
  transition: color .2s linear;
  &:hover,
  &:focus-visible {
    color: inherit;
  }
}
