//GLOBAL PARAGRAPH PADDING SETTINGS
//
// See the wiki for more details: https://github.com/thinkshout/ts_grid/wiki/Vertical-Spacing
// The logic in this file is as such:
// There are three kinds of block-level items. All sizes here listed for desktop:
// Unfriendly: Items that should appear var(--padding-vertical)-[breakpoint] apart from each other
// Friendly: The last item in a Friendly block should have $grid-gutter-[breakpoint], and that's how far two
// Friendly blocks should be from each other.
// Lovey: Items that should appear 0 rems apart from each other
//
// Lovey blocks provide no bottom padding -- they want other Lovey blocks to snuggle right up against them.
//
// Friendly also have no bottom padding -- the assumption is that the last element within this block will provide a
// bottom padding equal to the gutter width of the grid.
//
// Unfriendly blocks provide a large amount of bottom padding -- they have a personal bubble and want it obeyed.
//
// Except for Unfriendly blocks, the rules above only apply when like follows like (Lovey + Lovey, Friendly + Friendly).
//
// If Lovey follows anything that ISN'T Lovey, Lovey provides enough top padding to equal var(--padding-vertical)-[breakpoint]
// top padding. Lovey loves other blocks, but it also wants them to be comfortable.
//
// If Friendly follows anything that ISN'T Friendly, Friendly provides enough top padding to equal
// var(--padding-vertical)-[breakpoint] for the same reason.
//
// If Unfriendly follows anything that ISN'T Unfriendly, it also provides the var(--padding-vertical)-[breakpoint] top padding
// to keep itself comfortable. It doesn't need to apply padding if it follows another Unfriendly block - the first block
// adds the correct amount of bottom padding instead.
//

//
// Start of Unfriendly blocks:
//
// These blocks should always be var(--padding-vertical)-[breakpoint].
//
.unfriendly-block {
  @extend .margin-top-xl;
  @extend .margin-bottom-xl;
}

//
// Start of Friendly blocks:
//
// Items that pretend to be one item, so padding is set by the inner elements.
// Useful for things that appear in multiple columns on desktop, but in a
// single column on mobile, like card views.
//
.friendly-block {
  // The margin-bottom needs to match the grid gutters.
  @extend .margin-top-xl;
  @extend .margin-bottom-lg;
}

//
// Start of Lovey blocks:
//
.lovey-block {
  @extend .margin-zero;
}

.margin-top-xl {
  margin-top: 80px;

  @include mq($md) {
    margin-top: 84px;
  }

  @include mq($lg) {
    margin-top: 102px;
  }

  @include mq($xl) {
    margin-top: var(--spacer-30);
  }
}

.margin-top-xxl {
  margin-top: 100px;

  @include mq($md) {
    margin-top: 108px;
  }

  @include mq($lg) {
    margin-top: 130px;
  }

  @include mq($xl) {
    margin-top: var(--spacer-40);
  }
}
.margin-bottom-xl {
  margin-bottom: 80px;

  @include mq($md) {
    margin-bottom: 84px;
  }

  @include mq($lg) {
    margin-bottom: 102px;
  }

  @include mq($xl) {
    margin-bottom: var(--spacer-30);
  }
}

.margin-bottom-xxl {
  margin-bottom: 100px;

  @include mq($md) {
    margin-bottom: 108px;
  }

  @include mq($lg) {
    margin-bottom: 130px;
  }

  @include mq($xl) {
    margin-bottom: var(--spacer-40);
  }
}

.margin-right-xl {
  margin-right: 80px;

  @include mq($md) {
    margin-right: 84px;
  }

  @include mq($lg) {
    margin-right: 102px;
  }

  @include mq($xl) {
    margin-right: var(--spacer-30);
  }
}

.margin-right-xxl {
  margin-right: 100px;

  @include mq($md) {
    margin-right: 108px;
  }

  @include mq($lg) {
    margin-right: 130px;
  }

  @include mq($xl) {
    margin-right: var(--spacer-40);
  }
}

/* @TODO: below this point, find and replace instances of utilties with their tailwind equivalent (mostly listed inline)
, then delete the utility class. */
//Applies consistent padding
//Use classes whenever possible
.padding-top,
%padding-top {
  padding-top: var(--padding-vertical);
}

.padding-bottom,
%padding-bottom {
  padding-bottom: var(--padding-vertical);
}

.padding-vertical,
%padding-vertical {
  @extend %padding-top;
  @extend %padding-bottom;
}

// Nice for resetting header elements
.margin-zero {
  margin: 0;
}

.margin-top-zero,
p.margin-top-zero,
.mt-0 {
  margin-top: 0;
}

.margin-bottom-zero,
p.margin-bottom-zero,
.mb-0 {
  margin-bottom: 0;
}

// Top margin
.margin-top-xs,
.mt-5 {
  margin-top: var(--spacer-5);
}

.margin-top-sm,
.mt-7 {
  margin-top: var(--spacer-7);
}

.margin-top-md,
.mt-11 {
  margin-top: var(--spacer-11);
}

.margin-top-lg,
.mt-15 {
  margin-top: var(--spacer-15);
}

// Bottom margin
.margin-bottom-xs,
.mb-5 {
  margin-bottom: var(--spacer-5);
}

.margin-bottom-sm,
.mb-7 {
  margin-bottom: var(--spacer-7);
}

.margin-bottom-md,
.mb-11 {
  margin-bottom: var(--spacer-11);
}
.margin-bottom-lg,
.mb-15 {
  margin-bottom: var(--spacer-15);
}

// Right margin
.margin-right-xs,
.mr-5 {
  margin-right: var(--spacer-5);
}

.margin-right-sm,
.mr-7 {
  margin-right: var(--spacer-7);
}

.margin-right-md,
.mr-11 {
  margin-right: var(--spacer-11);
}

.margin-right-lg,
.mr-15 {
  margin-right: var(--spacer-15);
}
