.article {
  .layout__region--hero div {
    max-height: 240px;
    overflow: hidden;
    @include mq($ph) {
      max-height: 550px;
    }
  }
  .layout__region--hero img {
    transform: translate(-50%, -50%);
    margin-left: 50%;
    margin-top: 25%;
    @include mq($ph) {
      transform: translateX(-50%);
      margin-left: 50%;
      margin-top: 0;
    }
  }
  .layout__region--title,
  .layout__region--byline {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
      .article-date {
        margin-right: $space-xs;
      }
    }
  }

  .layout__region--title,
  .layout__region--byline {
    @include mq($lg) {
      @include center-columns(10, $grid-columns);
    }
  }

  .layout__region--byline {
    @include font($acumin-semi-cond, light);
    @include font-line-height(16, 23);
    padding-bottom: $padding-vertical;
    border-bottom: 6px solid $black;

    a {
      font-weight: bold;
      text-decoration: none;

      @include hocus {
        text-decoration: underline;
      }
    }
  }

  .article__meta {
    .field-label-inline {
      @extend .italic-tiny;
      display: inline;
      margin-right: 2px;
    }

    .taxonomy {
      margin-right: 20px;
    }

    & > div {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include mq($md) {
        margin-bottom: 0;
      }
    }
    .layout__region--category {
      @include mq($md) {
        grid-column: 3 / 7;
      }
      @include mq($lg) {
        grid-column: 4 / 7;
      }
    }

    .layout__region--share {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 24px;

      @include mq($md) {
        grid-column: 7 / 13;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 24px;
      }
      @include mq($lg) {
        grid-column: 7 / 12;
      }
    }
  }

  .layout__region--left_sidebar {
    margin-top: 1em; // Matches top of main-content text
    display: none;

    @include mq($md) {
      display: block;
    }

    .field-label {
      margin-bottom: rem(7);
      @include font($caslon, "italic");
      @include font-line-height(15, 16);

      a {
        text-decoration: none;
      }
    }

    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul li {
      @include font($acumin-pro, "semibold");
      @include font-line-height(14, 21);
      color: $green;
    }

    ul li a {
      @include text-underline();
      background-position: left 100%;
      text-decoration: none;
    }
  }

  .more-on__items a {
    @include font($acumin-pro, "semibold");
    @include font-line-height(18, 24);
    color: $green;
    @include text-underline();
    background-position: left 100%;
    text-decoration: none;
  }
}
