.breadcrumb {
  position: relative;

  ol {
    padding-left: 12px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 15px;
      display: block;
      border-left: 1px solid #757575;
      border-top: 1px solid #757575;
      width: 6px;
      height: 6px;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  li {
    @include font("acumin-pro", "normal");
    @include font-line-height(12, 18);

    a {
      text-decoration: none;

      @include hocus {
        text-decoration: underline;
      }
    }
  }
}
