@use "sass:math";

// Large card (3 + 1 block)
.card {
  .card-text {
    background-color: var(--color-white);
    margin-top: -30px;
    max-width: 87%;
    padding-right: 16px;
    padding-top: var(--spacer-5);
    position: relative;
    z-index: 1;

    @include mq($md) {
      margin-top: -30px;
    }

    h2 {
      margin-top: rem(-17);
      margin-bottom: 0;
      z-index: 2;
    }

    .topic-tag {
      margin-top: 0;
    }

    .bundle {
      margin-top: rem(15);
      text-transform: capitalize;
      margin-right: 8px;
    }
    .secondary p,
    .secondary h3 {
      margin-bottom: 0;
    }
  }

  &.small-text {
    @include font(var(--font-family-heading-condensed), "semi-bold");
    @include font-line-height(15);

    &.light {
      @include font(var(--font-family-heading-condensed), "light");
    }
  }

  .card-image {
    img {
      height: auto;
      width: 100%;
    }
  }

  .button.small {
    margin-left: 0;
    margin-top: rem(10);
  }
}

.card-h2 {
  @include font(var(--font-family-heading-condensed), "semi-bold");
  @include font-line-height(40, 44);

  @include mq($lg) {
    @include font-line-height(48, 55);
  }
}

.card-teaser-text {
  @include font(var(--font-family-heading-condensed), light);
  @include font-line-height(18, 28);
}

.card-headline {
  @include font(var(--font-family-heading-condensed), "light");
  @include font-line-height(32, 38);

  a {
    @include text-underline(transparent, var(--color-neutral-900));
    & {
      background-position: left 100%;
      color: var(--color-neutral-900);
      text-decoration: none;
    }
  }

  &.medium {
    font-weight: 700;
  }
}
