// Styles for detail page metadata (data displayed just below header region
// Topics, regions, countries, etc..
.detail__meta-inner {
  display: block;

  @include center-columns($grid-columns-mobile, $grid-columns-mobile);
  @include mq($ph) {
    @include center-columns($grid-columns, $grid-columns);
  }


  @include mq($md) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @include mq($lg) {
    flex-direction: row;
    justify-content: space-between;
    @include center-columns(10, $grid-columns);
  }

  .layout__region {
    display: block;

    @include mq($md) {
      display: flex;
      align-items: baseline;
      margin-top: 0;
      width: auto;
      flex: 1 1 100%;

      &.layout__region--share {
        justify-content: flex-end;
      }
    }

    .category-wrapper,
    .article-date {
      display: block;
      margin-bottom: $space-xs;
      margin-right: $space-xs;

      & > .field-label-inline {
        display: block;
        margin-right: 4px;
        @extend .italic-tiny;

        @include mq($lg) {
          display: inline-block;
        }
      }

      @include mq($lg) {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  .article-date,
  .article-page-count {
    @include font($acumin-semi-cond, light);
    @include font-line-height(16, 23);
  }

  .category-wrapper.topic-tag-wrapper {
    & > a::after {
      content: ", ";
      display: inline;
    }

    & a:last-of-type::after {
      content: "";
    }
  }

  &.two-column {
    @include column-width(1, 5);

    @include mq($ph) {
      @include column-width(1, 13);
      grid-row: 1 / 3;
    }
    @include mq($lg) {
      @include column-width(2, 12);
      grid-row: 1 / 2;
      margin-bottom: 60px;
    }
  }
  .publication__image-inner {
    display: none;
    @include mq($ph) {
      display: block;
    }
    @include mq($lg) {
      display: none;
    }
  }
}

.page-node-type-data .detail__meta-inner .publication__image-inner {
  @include mq($ph) {
    display: none;
  }
}

.detail__meta-secondary {
  @include column-width(1, 5);
  margin-top: $space-xs;
  margin-bottom: 0;

  @include mq($ph) {
    @include column-width(5, 13);
    margin-top: 0;
    grid-row: 1 / 2;
  }

  @include mq($lg) {
    display: none;
  }
}

.detail__meta .detail__meta-inner.two-column {
  @include mq($lg) {
    margin-bottom: 0;
  }
}

// Set the top border for mobile and dt.
.simple-display .publication__main {
  border-top: 3px solid $black;
  padding-top: $space-sm;

  // At desktop, this becomes too wide. Set it on the inner element instead.
  @include mq($lg) {
    border-top: none;
    padding-top: 0;
  }
}

@include mq($lg) {
  // Set the top border desktop.
  .simple-display .detail__meta-inner {
    border-top: 3px solid $black;
    padding-top: $space-sm;
  }
}

// Show/hide narrative taxonomy in sidebar.
.layout__region--sidebar .narrative-taxonomy {
  display: none;

  @include mq($lg) {
    display: block;
  }
}

.publication__detail .publication__main {
  .detail__meta-inner {
    @include mq($ph) {
      @include column-width(1, 5);
      grid-row: auto;
      align-self: start;
      .layout__region {
        flex-direction: column;
      }
    }
    @include mq($lg) {
      @include column-width(2, 12);
      grid-row: 1 / 2;
      margin-bottom: 60px;
      .layout__region {
        flex-direction: row;
      }
    }
    &.two-column {
      @include mq($ph) {
        @include column-width(1, 5);
        grid-row: auto;
        align-self: start;
        .layout__region {
          flex-direction: column;
        }
      }
      @include mq($lg) {
        @include column-width(2, 12);
        grid-row: 1 / 2;
        margin-bottom: 60px;

        .layout__region {
          flex-direction: row;
        }
      }
    }
  }
  .layout__region--sidebar {
    @include mq($ph) {
      @include column-width(1, 5);
      grid-row: auto;
      align-self: start;
    }
    @include mq($lg) {
      @include column-width(2, 12);
      grid-row: 2 / 2;
      margin-bottom: 60px;
    }
    &.two-column {
      @include mq($ph) {
        @include column-width(1, 13);
        grid-row: auto;
      }
      @include mq($lg) {
        @include column-width(2, 12);
        grid-row: 1 / 2;
        margin-bottom: 60px;
      }
    }
  }
  .detail__meta-secondary {
    @include column-width(1, 5);
    margin-top: $space-xs;
    margin-bottom: 0;
    align-self: start;

    @include mq($ph) {
      @include column-width(1, 5);
      margin-top: 0;
      grid-row: auto;
    }

    @include mq($lg) {
      @include column-width(2, 12);
      grid-row: 1 / 2;
      margin-bottom: 60px;
    }
  }
  .main-content {
    @include mq($ph) {
      grid-column: 5 / 13;
      grid-row: 1 / 6;
      order: 1;
    }
    @include mq($lg) {
      grid-column: 2 / 8;
      grid-row: 2 / 6;
      order: 1;
    }
  }
}

@include mq($ph) {
.page-node-type-project-detail #publication__detail .publication__main .main-content {
    grid-column: 5 / 13;
    grid-row: 1 / 6;
    order: 3;
  }
}
@include mq($md) {
.page-node-type-project-detail #publication__detail .publication__main .main-content {
    grid-column: 5 / 13;
    grid-row: 1 / 6;
    order: 3;
  }
}
@include mq($lg) {
.page-node-type-project-detail #publication__detail .publication__main .main-content {
    grid-column: 4 / 10;
    grid-row: 2 / 4;
    order: 1;
  }
}
