.embedded-entity {
  padding: var(--spacer-1) var(--spacer-6) var(--spacer-4);
  margin-bottom: var(--spacer-7);
  margin-top: var(--spacer-7);
  @include mq($md) {
    padding: var(--spacer-2) var(--spacer-11) var(--spacer-5);
    margin-bottom: var(--spacer-11);
    margin-top: var(--spacer-11);
  }

  @include font($acumin-semi-cond, "light");
  @include font-line-height(16, 21);

  &.has-blue-background-color,
  &.has-green-background-color,
  &.has-teal-background-color,
  &.has-black-background-color {
    color: $white;
  }
  &.has-border-background-color {
    border: 1px solid var(--color-neutral-600);
    padding: var(--spacer-5);
    .embed-block__title {
      margin-top: 0;
      border-bottom: 0.5px solid $black;
      padding-bottom: var(--spacer-3);
      margin-bottom: var(--spacer-2);
    }
  }
  form.webform-submission-form {
    input[type="text"],
    input[type="email"] {
      @include font($acumin-semi-cond, "regular");
      @include font-line-height(16, 18);
      & {
        height: 46px;
        padding: 15px 10px 12px;
        width: 100%;
      }
    }
  }
  .form-type-processed-text {
    @include font($acumin-semi-cond, "regular");
    @include font-line-height(16, 18);
    @include mq($md) {
      @include font-line-height(22, 28);
    }
  }
  h4,
  h5,
  p {
    font-family: inherit;
    font-size: inherit;
    margin: 16px 0;
  }
  .field--name-field-other-orto-list-tags {
    font-size: 0;
    visibility: hidden;
  }
}

.article .embedded-entity .form-type-processed-text {
  @include font($caslon, "light");
  @include font-line-height(16, 18);
  @include mq($md) {
    @include font-line-height(22, 28);
  }
}

.embed--block-type--in-this-series {
  padding: 0;
  .field__item:first-child .teaser-item {
    border-top: none;
  }
  h3.teaser-title {
    @include font-line-height(16, 18);
  }
  .topic-tag a {
    @include font-line-height(13, 15);
  }
}

.embedded-entity.embed--block-type--upcoming-event {
  padding: 0;

  .callout {
    border: 2px solid var(--color-neutral-200);
    padding: var(--spacer-5);

    @include mq($md) {
      padding: var(--spacer-6);
    }
  }
  .event-callout {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq($md) {
      flex-direction: row;
      gap: var(--spacer-6);
    }
  }
  .event-callout .event-wrapper {
    flex: 0 1 70%;
    .time-wrapper {
      margin-bottom: var(--spacer-6);
      font-weight: 500;
    }
    .info-text {
      line-height: 1.8;
      margin: var(--spacer-3) 0;
    }
    .h3 {
      margin-bottom: var(--spacer-1);
      margin-top: var(--spacer-1);
      line-height: 1.3;

      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .event-callout .image-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    justify-content: flex-start;
    max-width: 200px;
    @include mq($md) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: var(--spacer-2);
    }
  }
  img {
    display: none;
    @include mq($md) {
      display: block;
    }
  }
  .button {
    font-size: 16px;
    margin-top: 0;
    padding: var(--spacer-5) var(--spacer-10);
    @include mq($md) {
      margin-top: var(--spacer-5);
    }
  }
}
