// Grid Layout - other styles below for clarity.
.homepage-hero {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  @include mq($lg) {
    grid-column-gap: 0;
  }
  @include mq($lg) {
    max-width: calc(100% - (#{$grid-gutter} * 2));
  }
  @include mq($grid-max-width + ($grid-gutter * 4)) {
    max-width: $grid-max-width + ($grid-gutter * 2);
  }
  .hero-text-area {
    @include column-width(1, 5);

    @include mq($ph) {
      @include column-width(1, 13);
    }
    @include mq($md) {
      @include column-width(1, 8);
    }
    @include mq($xl) {
      @include column-width(1, 7);
    }
  }
  .field--name-field-hero-image {
    width: auto;
    @include column-width(1, 5);

    @include mq($ph) {
      @include column-width(1, 13);
    }
    @include mq($md) {
      @include column-width(8, 13);
      height: 640px;
    }
    @include mq($lg) {
      @include column-width(8, 13);
      height: 900px;
    }
  }
  .paragraph--type--featured-statement {
    @include column-width(1, 5);

    @include mq($ph) {
      @include column-width(1, 13);
    }
  }
}

.hero-text-area {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field--name-field-hero-intro p {
  @include font($caslon, "normal", "italic");
  @include font-line-height(24, 28);
  margin-bottom: $space-xs;
  margin-top: 0;
}

.text-formatted.field--name-field-hero-title p {
  @include font($acumin-semi-cond, "bold", "normal");
  @include font-line-height(48, 52);
  box-sizing: border-box;
  letter-spacing: -1.23px;
  margin: 0;
  margin-bottom: $space-sm;
  max-width: 100%;

  @include mq($lg) {
    @include font-line-height(74, 80);
    margin-bottom: $space-md;
    max-width: 90%;
  }

  @include mq($xl) {
    max-width: 100%;
  }

  a {
    background: none;
    text-decoration: none;
    transition: color $transition-defaults;
    @include hocus {
      background: none;
    }
  }
}

.hero-text-area .field--name-field-featured-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 48px;
  @include mq($md) {
    margin-bottom: 0;
  }
  .field__item {
    @include font($acumin-pro, "bold", "normal");
    @include font-line-height(14, 18);
    border-top: 1px solid rgba($black, 0.5);
    flex: 1 1 calc(50% - 56px);
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    margin-right: 56px;
    padding-top: 10px;
    text-decoration: none;
    @include mq($lg) {
      flex: 0 1 calc(50% - 56px);
      margin-top: 10px;
    }
  }
  .field__item:last-of-type {
    margin-right: 0;
  }
  .field__item a {
    text-decoration: none;
    transition: color 0.5s;
    @include hocus {
      color: $green;
    }
  }
  .field-name-field-type {
    font-weight: 400;
    margin-top: 6px;
  }
  h3 {
    @include font($acumin-pro, "bold", "normal");
    @include font-line-height(20, 24);
    margin-top: 4px;
  }
}

.homepage-hero > .field--name-field-hero-image {
  display: none;
  @include mq($md) {
    display: block;
  }
}

.field--name-field-hero-image {
  position: relative;
  margin-top: $grid-gutter;
  @include mq($md) {
    margin-top: 0;
  }
  &:before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    content: "";
    height: 30%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 1000%;
    z-index: 1;
  }
  img {
    height: 660px;
    min-width: 100%;
    @include mq($md) {
      height: 640px;
    }
    @include mq($lg) {
      height: 900px;
    }
  }
}
// Fix for https://bugzilla.mozilla.org/show_bug.cgi?id=1694741
@-moz-document url-prefix() {
  .field--name-field-hero-image img {
    height: auto;
    width: auto;
  }
}

.hero-text-area .field--name-field-hero-image {
  margin-bottom: 48px;
  margin-top: 0;
  margin-left: -20px;
  @include mq($md) {
    display: none;
  }
}

.field--name-field-featured-statement {
  background-color: $green;
  a {
    @include font($acumin-pro, "normal", "normal");
    align-items: stretch;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: $grid-gutter;
    padding-top: $grid-gutter;
    text-decoration: none;
    @include mq($md) {
      flex-direction: row;
    }
  }
  .intro-wrapper {
    padding-right: 40px;
    @include mq($md) {
      margin-top: 6px;
    }
  }
  .body-wrapper {
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
    @include mq($md) {
      margin-top: 0;
    }
  }
  .body-wrapper:before {
    border-left: 1px solid $white;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  h3 {
    @include font-line-height(24, 32);
    display: inline;
    background-position: left 94%;
  }
  .field--name-field-text {
    @include font-line-height(18, 28);
  }
  a {
    @include hocus {
      h3 {
        @include text-underline(transparent, $white);
        background-position: left 94%;
      }
    }
  }
}

.block-wri-topics {
  box-sizing: border-box;
  width: 100%;

  .intro {
    /* line text up with border. */
    margin-top: -0.5rem;
  }
}

.program-center-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > .views-row {
    flex: 0 1 48%;
    margin-bottom: 24px;
    position: relative;
    @include mq($lg) {
      flex: 0 1 23.3%;
      margin-bottom: 32px;
    }
  }
  & > .views-row > a,
  & > .views-row.centers-block > h3 {
    @include font($acumin-semi-cond, "bold", "normal");
    @include font-line-height(20, 24);
    background-color: $white;
    box-sizing: border-box;
    display: flex;
    height: 44px;
    justify-content: space-between;
    left: 0;
    min-width: 128px;
    padding-left: 7px;
    padding-right: 21px;
    padding-top: 8px;
    position: absolute;
    text-decoration: none;
    top: 0;
    transition: all 0.2s ease-in-out;
    @include hocus {
      min-width: 133px;
      height: 46px;
    }
  }
  & > .views-row > a:after,
  & > .views-row.centers-block > h3:after {
    background: transparent url("../img/svgs/arrow-gold-sm.svg") no-repeat
      center center / cover;
    color: $brand-gold;
    content: "";
    display: block;
    height: 14px;
    left: 8px;
    position: relative;
    top: 4px;
    width: 14px;
    transition: all 0.2s ease-in-out;
    @include hocus {
      left: 10px;
    }
  }
  & > .views-row img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.centers-block {
  background-color: $brand-gold;
  box-sizing: border-box;
  padding-left: 17px;
  padding-top: 13.5%;
  position: relative;
  @include mq($lg) {
    padding-top: 7%;
    padding-bottom: 2%;
  }
  a {
    @include font($acumin-semi-cond, "bold", "normal");
    @include font-line-height(15, 27);
    text-decoration: none;
    text-transform: uppercase;
    @include text-underline(transparent, $black);
    background-position: left 94%;
  }
  h3 {
    margin: 0;
  }
}
