.node--type-international-office {
  .landing-page__hero {
    padding-top: 70px;

    @include mq($md) {
      padding-top: 0;
      max-height: 528px;
    }

    &.has-image {
      .hero__text {
        min-height: inherit;
        position: relative;
        color: var(--color-neutral-900);
      }

      .hero__image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @include mq($md) {
          position: relative;
          @include column-width(7, 12);
        }

        div.media {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        img {
          object-fit: contain;
          height: auto;
          max-height: 500px;
          padding-bottom: 28px;
          width: 100%;
        }
      }
    }

    .hero__text {
      @include center-columns($grid-columns-mobile, $grid-columns-mobile);

      @include mq($ph) {
        @include center-columns($grid-columns, $grid-columns);
      }

      @include mq($md) {
        @include column-width(2, 7);
      }

      .hero__text--inner {
        display: block;

        h1.h1 {
          @include mq($md) {
            margin-top: 0;
          }
        }
      }
      .margin-top-xl {
        @include mq($lg) {
          margin-top: var(--padding-vertical);
        }

        @include mq($xl) {
          margin-top: var(--padding-vertical);
        }
      }
    }
  }

  .block-field-blocknodeinternational-officefield-offices
    .layout__region--listing {
    ul {
      justify-content: start;
    }
  }

  .wri-office {
    p,
    div,
    a {
      margin: 0;
      @include font-line-height(18, 30);
    }
    .field-label-inline,
    a {
      display: inline;
    }
    .country {
      display: none;
    }

    @include mq($md) {
      margin-left: var(--spacer-7);
    }
  }

  .persons {
    .layout__region--header,
    .layout__region--listing {
      @include center-columns($grid-columns-mobile, $grid-columns-mobile);

      @include mq($ph) {
        @include center-columns($grid-columns, $grid-columns);
      }
    }
  }

  .content__inner.main-content {
    z-index: 1;
    .io-body {
      background-color: var(--color-white);
      position: relative;
      z-index: 10;
      @include mq($md) {
        outline: var(--spacer-11) solid var(--color-white);
        outline-offset: -2px;
        margin-top: -var(--spacer-40) - 5px;
        padding: 5px;
      }

      p {
        @include font(var(--font-family-heading-condensed), "light");
        @include font-line-height(18, 30);
      }
    }

    .field--name-field-media-image.field--type-image {
      img {
        max-height: 865px;
      }
    }
  }

  .media--view-mode-landing-page-hero img {
    min-height: 640px;
    width: auto;
    max-width: none;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    @include mq($lg) {
      min-height: 700px;
    }
    @include mq($xl) {
      min-height: 865px;
    }
  }
}
