.tray-contents ul.links a.is-active {
  color: var(--color-white);
}
.block-language ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.language-link {
  color: var(--color-white);
  font-size: 1.25rem;
  line-height: 1;
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-weight: 700;
}
.block-language ul li .language-link.is-active {
  color: var(--color-gold-500);
}
.block-language ul li .language-link:hover,
.block-language ul li .language-link:active,
.block-language ul li .language-link:focus,
.block-language ul li .language-link.is-active {
  background-color: var(--color-gold-500);
  color: var(--color-neutral-900) !important;
}
.block-language ul li .language-link {
  display: block;
  padding: 0.5625rem 0 0.5625rem 0.5625rem;
  margin-bottom: 0.125rem;
  text-decoration: none;
  border-radius: 5px;
}
.block-language ul li .language-link.is-active:active,
.block-language ul li .language-link.is-active:hover,
.block-language ul li .language-link.is-active:focus {
  background-color: var(--color-neutral-900);
  color: var(--color-gold-500) !important;
}
.block-language ul li .language-link.is-active {
  color: var(--color-gold-500);
}
