.large-cta-wrapper {
  overflow: hidden;
  position: relative;

  &.has-image {
    min-height: rem(700);
    background-color: var(--color-black);
    @include mq($ph) {
      min-height: rem(400);
    }
    @include mq($md) {
      min-height: rem(500);
    }
    @include mq($lg) {
      min-height: rem(600);
    }
    @include mq($xl) {
      min-height: rem(700);
    }

    h2 {
      @include mq($ph) {
        max-width: 380px;
      }
      @include mq($lg) {
        max-width: 440px;
      }
      @include mq($xl) {
        max-width: 615px;
      }
    }
  }

  .background-image {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    margin-top: 250px;

    &::before {
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      );
      content: "";
      display: block;
      height: 174px;
      position: absolute;
      width: 100%;
      z-index: 10;
    }
    &::after {
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
      content: "";
      display: block;
      height: calc(100% - 174px);
      top: 174px;
      position: absolute;
      width: 100%;
      z-index: 10;
    }

    @include mq($ph) {
      margin-top: 0;
      &::before {
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.5)
        );
        content: "";
        display: block;
        height: 174px;
        position: absolute;
        width: 100%;
        z-index: 10;
      }
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        );
        content: "";
        display: block;
        height: calc(100% - 174px);
        top: 174px;
        position: absolute;
        width: 100%;
        z-index: 10;
      }
    }

    @include mq($md) {
      &::before {
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0)
        );
        height: 100%;
        width: 50%;
      }
      &::after {
        content: none;
      }
    }
    .media--image {
      height: 100%;
    }

    img {
      min-height: rem(600);
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }

  .cta-text-inner {
    @include center-columns(4, 4);
    & {
      position: relative;
      z-index: 1;
    }

    @include mq($ph) {
      @include center-columns(12, 12);
    }

    @include mq($lg) {
      @include column-width(1, 7);
    }

    .h2 {
      @include font-line-height(32, 42);
      @include mq($ph) {
        @include font-line-height(36, 46);
      }
      @include mq($xl) {
        @include font-line-height(42, 48);
      }
    }

    .button {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
