.tweets--oembed {
  .item-list ul,
  .item-list li {
    list-style: none outside none;
    padding: 0;
    margin: 0;
  }
}

.button.twitter {
  background: var(--color-gold-500) url("../img/svgs/twitter-black.svg")
    no-repeat right 15px center;
  background-size: 15px 15px;
  display: inline-block;
  padding-right: 35px;
  position: relative;
  transition: background var(--transition-default);
  text-decoration: none;

  @include hocus {
    background-image: url("../img/svgs/twitter-grey.svg");
    text-decoration: underline;
  }

  &.small.offsite::after {
    display: none;
  }
}
