.ui-dialog.ui-dialog-off-canvas {
  font-size: 14px;
}

.layout-builder {
  .layout-builder-block {
    padding: 0;
    min-height: 30px;
  }
}

#drupal-off-canvas-wrapper input[type="submit"].button.js-hide {
  display: none;
}

#drupal-off-canvas-wrapper *:not(div),
#drupal-off-canvas-wrapper *:not(svg *),
#drupal-off-canvas-wrapper *:after,
#drupal-off-canvas-wrapper *:before {
  display: revert;
  font-family: revert;
  color: #ddd;
}
