.field--name-field-media-oembed-video {
  transition: margin 0.3s ease;
}
.field--name-field-media-oembed-video.playing {
  margin-bottom: rem(30);
}
.oembed-lazyload__iframe,
.media--type-video iframe {
  border: none;
}
