.person__detail {
  .landing-page__hero {
    padding-top: 0;
    .leadership {
      margin-bottom: var(--spacer-11);
      text-align: center;

      @include mq($md) {
        margin-bottom: 0;
        margin-top: var(--spacer-15);
        text-align: left;
      }
    }

    .hero__text {
      .hero__left {
        @include font(var(--font-family-heading-condensed), "light");
        @include mq($md) {
          margin-top: 72px;
        }

        h1,
        p {
          text-align: center;

          @include mq($md) {
            text-align: left;
          }
        }

        h1 {
          margin-bottom: var(--spacer-5);
        }
        p {
          @include mq($md) {
            margin-bottom: var(--spacer-15);
          }
        }
      }

      .hero__right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        img {
          border-radius: 100%;
          height: 180px;
          width: 180px;
          @include mq($md) {
            height: 230px;
            width: 230px;
          }
        }
      }

      .buttons {
        text-align: center;

        @include mq($md) {
          text-align: left;
          margin-top: var(--spacer-15);
          margin-bottom: var(--spacer-15);
        }

        a {
          margin-right: 0;
        }
      }
    }
  }

  .button-holder {
    display: block;

    @include mq($md) {
      display: inline;
    }
  }

  .paragraph--type--social-media-sites {
    display: inline-block;
    position: relative;
    margin-left: var(--spacer-5);
    margin-bottom: 0;
    vertical-align: middle;
  }

  .paragraph--type--social-media-sites + .paragraph--type--social-media-sites {
    margin-left: 0;
  }

  .quote {
    border-top: 3px solid var(--color-neutral-900);
    display: block;
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }

    @include mq($lg) {
      @include center-columns(10, $grid-columns);
    }

    .quote-inner {
      border-bottom: 3px solid var(--color-neutral-900);
      padding-bottom: var(--spacer-15);
      padding-top: var(--spacer-15);
    }

    img {
      width: 100%;
    }

    p {
      display: inline;
      padding: 0 var(--spacer-5);
    }

    .tweet {
      @include center-columns($grid-columns-mobile, $grid-columns-mobile);
      @include mq($ph) {
        @include center-columns($grid-columns, $grid-columns);
      }

      @include mq($lg) {
        @include center-columns(10, $grid-columns);
      }

      &::after {
        background: transparent url("../img/svgs/quote.svg") no-repeat;
        background-size: contain;
        content: "";
        display: inline-block;
        height: 30px;
        width: 30px;
        transform: scaleX(-1);
      }
    }
  }

  .publication__main .sidebar {
    .field-label-above {
      color: var(--color-neutral-600);
      margin-bottom: 5px;
    }

    .field-label-above:not(:first-of-type) {
      @extend .margin-top-sm;
    }

    .field-label-inline {
      display: inline-block;
      @include font(var(--font-family-heading-condensed), "light");
      @include font-line-height(15, 26);
    }

    .languages {
      @include font(var(--font-family-heading-condensed), "bold");
      @include font-line-height(15, 20);
    }

    .programs a {
      color: var(--color-green-500);
      @include font(var(--font-family-heading), "semibold");
      @include font-line-height(15, 20);
    }

    .expertise {
      a,
      span {
        display: block;
        @include font(var(--font-family-heading), "semibold");
        @include font-line-height(14, 24);
        & {
          color: var(--color-green-500);
        }
      }
    }
  }
}

.int-office {
  @include font(var(--font-family-heading-condensed), "bold");
  & {
    display: inline-block;
    position: relative;
    margin-left: var(--spacer-5);
  }

  &:before {
    content: "";
    background: transparent url("../img/svgs/pin-black.svg") no-repeat center
      center / contain;
    display: inline-block;
    height: 16px;
    line-height: 1.5rem;
    padding-right: 15px;
    position: relative;
    transition: background var(--transition-default);
    text-decoration: none;
  }

  a {
    @include text-underline(transparent, var(--color-neutral-900));
    & {
      background-position: left 100%;
      padding-bottom: 5px;
    }
  }
}

.person-teaser-item {
  min-width: 280px;
  @include mq($ph) {
    min-width: 350px;
  }

  .left-section {
    flex-shrink: 0;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
  }

  .person-teaser__inner-wrapper {
    display: flex;
  }

  .right-section {
    margin-left: var(--spacer-7);
  }

  .right-section p {
    margin: 0;
    @include font-line-height(15, 21);
  }
}

.persons-external {
  .person-teaser-item {
    min-width: 0;
  }

  .left-section {
    display: none;
  }

  .right-section {
    margin-left: 0;
  }
}

.search-results.search-results-people {
  .search-results-text {
    border: none;
  }
  .search-results-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 120px;
    box-sizing: border-box;
    padding: 0 10px 0 20px;
    img {
      border-radius: 50%;
      width: 100px;
    }
  }
  .leadership {
    @include font(var(--font-family-serif), "italic");
    @include font-line-height(15, 16);
  }
  h2 {
    @include font(var(--font-family-heading-condensed), "bold", "normal");
    @include font-line-height(24, 30);
    & {
      margin-bottom: 2px;
      margin-top: 12px;
    }
    a {
      text-decoration: none;
    }
  }
  .job_title,
  .job_title p {
    margin: 0;
    @include font(var(--font-family-heading-condensed), "light", "normal");
    @include font-line-height(15, 21);
  }
}
