.podcasts-content_listing,
.podcasts-content_listing .view-content-listing {
  ul.listing-items {
    display: flex;
    gap: $grid-gutter-mobile;
    flex-wrap: wrap;
  }

  .listing-items li {
    border: 3px solid var(--color-neutral-900);
    flex-basis: 100%;
    margin-left: 0;

    @include mq($ph) {
      // Half of the width and half of the grid-gutter-mobile.
      flex-basis: calc(50% - 10px);
    }

    @include mq($md) {
      // 1/3 of the width and 2/3 the grid-gutter-mobile.
      flex-basis: calc(33.3% - 14px);
    }

    @include hocus() {
      background-color: var(--color-green-500);
      transition: 0.5s;

      .topic-tag a,
      .teaser-title a,
      .date-region.date {
        color: var(--color-white);
        transition: 0.5s;
      }
    }
  }

  .layout__region--header {
    padding-top: var(--spacer-7);

    @include mq($md) {
      padding-top: var(--spacer-5);
    }
  }

  .listing-items .teaser-item {
    border-top: none;
    padding: rem(10) rem(20) rem(20);

    .content-type-region.bundle {
      display: none;
    }
  }

  .layout__region--more-link {
    margin-top: 0;
  }
}
