.podcasts-content_listing {
  .view-content-listing {
    ul.listing-items {
      display: flex;
      flex-wrap: wrap;

      @include mq($ph) {
        margin-right: calc(#{$grid-gutter-mobile} * -1);
      }
    }

    .listing-items li {
      border: 3px solid $black;
      flex: 1 1 100%;
      margin-bottom: $grid-gutter-mobile;
      margin-left: 0;

      @include mq($ph) {
        // 6px refers to the width that's added from the 3px black border.
        flex-basis: calc(50% - (#{$grid-gutter-mobile} + 6px));
        margin-right: $grid-gutter-mobile;
        &:nth-child(2n),
        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @include mq($md) {
        flex-basis: calc(33.3% - (#{$grid-gutter-mobile} + 6px));
        margin-right: $grid-gutter-mobile;
        &:nth-child(2n) {
          margin-right: $grid-gutter-mobile;
        }
        &:nth-child(6n) {
          margin-right: 0;
        }
      }

      @include hocus() {
        background-color: $green;
        transition: 0.5s;

        .topic-tag a,
        .teaser-title a,
        .date-region.date {
          color: $white;
          transition: 0.5s;
        }
      }
    }
  }

  .layout__region--header {
    padding-top: $space-sm;

    @include mq($md) {
      padding-top: $space-xs;
    }
  }

  .listing-items .teaser-item {
    border-top: none;
    padding: rem(10) rem(20) rem(20);

    .content-type-region.bundle {
      display: none;
    }
  }

  .layout__region--more-link {
    margin-top: 0;
  }
}
