.region-modals .block {
  display: none;
}

.region-top-modals .block-modal {
  display: none;
  z-index: 100;
  button.ui-button {
    all: unset;
    display: block;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 10px;
    width: 30px;

    .ui-icon-closethick {
      all: unset;

      &:after,
      &:before {
        background-color: $white;
        content: "";
        height: 100%;
        left: 50%;
        position: absolute;
        top: 50%;
        transition: background-color $transition-defaults;
        width: 3px;
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    &:hover,
    &:focus {
      .ui-icon-closethick:before,
      .ui-icon-closethick:after {
        background-color: $gold-hover;
      }
    }
  }
}

.block-modal,
.simple-popup-blocks-global {
  @include font($acumin-semi-cond, "light");
  @include font-line-height(15, 21);

  &.has-blue-background-color,
  &.has-green-background-color,
  &.has-teal-background-color,
  &.has-black-background-color {
    color: $white;

    .field--name-field-webform {
      color: $black;
    }

    @include mq($md) {
      .spb_center & {
        background: $white;
        color: $black;
      }
    }
  }

  img {
    display: none;

    @include mq($md) {
      display: block;
    }
  }

  .top-image {
    img {
      object-fit: contain;
      height: auto;
      width: 100%;
    }
  }

  .modal_inner {
    padding: $space-xs;
    @include mq($md) {
      padding: $space-md;
    }
  }

  .modal_inner_wrapper {
    @include mq($md) {
      display: flex;
    }
  }

  .full-width-text {
    padding: rem(24) rem(50);
  }

  .left-text {
    margin-bottom: $space-xs;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq($md) {
      @include font-line-height(18, 28);
      & {
        padding-right: rem(23);
        margin-bottom: $space-sm;
      }
    }
  }

  .field--name-field-title {
    @include font($acumin-semi-cond, "bold");
    @include font-line-height(24, 30);
    @include mq($md) {
      @include font-line-height(32, 40);
    }
  }

  .h2 .field--name-field-title {
    font-size: inherit;
    @include mq($md) {
      font-size: inherit;
    }
  }

  input:not([type="submit"]) {
    border: solid 1px #757575;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 13px 15px;
    max-width: 100%;
  }

  .form-item {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

  .webform-flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .webform-flex {
    min-width: 0;
  }

  .webform-flex--1 {
    flex: 1;
    max-width: 49%;
  }
}

.simple-popup-blocks-global {
  .spb-popup-main-wrapper {
    max-width: 100%;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.5),
      0 6px 20px 0 rgba(0, 0, 0, 0.5);
    max-height: calc(100% - 40px);
  }

  .spb_close {
    color: #fff;
    font-size: rem(25px);
  }

  .spb_center .spb_close {
    @include mq($md) {
      font-size: rem(50px);
      margin: rem(-48);
    }
  }

  .spb_minimize {
    display: none;
  }

  .spb_overlay {
    display: none;
    @include mq($md) {
      display: block;
    }
  }

  .spb_center {
    display: none;
    margin-top: -13%;
    @include mq($md) {
      display: block;
    }
  }

  form.webform-submission-form {
    label {
      @include font($acumin-semi-cond, "regular");
      @include font-line-height(14, 18);
      & {
        padding-top: 2px;
      }
    }
    input[type="text"],
    input[type="email"] {
      @include font($acumin-semi-cond, "regular");
      @include font-line-height(14, 18);
      & {
        height: 46px;
        padding: 15px 10px 12px;
        background-color: $white;
      }
    }
    input[type="submit"] {
      @include font($acumin-semi-cond, "semibold");
      @include font-line-height(13, 16);
      & {
        height: 40px;
        padding: 12px 40px;
      }
    }
  }
  .has-blue-background-color,
  .has-green-background-color,
  .has-black-background-color {
    .files-overlay-trigger {
      color: $white;
      @include mq($md) {
        @include text-underline-thin(transparent, $black);
        & {
          background-position: left 100%;
          color: $black;
        }
      }
    }
  }
  .files-modal-unregistered {
    p {
      font-size: 1.3em;
    }
    input {
      &.registration {
        width: 48%;
        margin: 0 10px 10px 0;
        border: 2px solid #aaa;
      }
      &.pardot-submission {
        margin: 15px 0;
      }
    }
    #skip-registration {
      font-size: 1.2em;
    }
  }
}

//Download files modal
.files-modal {
  display: none;
  margin: $space-xs;
  max-height: calc(100% - 40px);
  overflow: auto;

  @include mq($md) {
    margin: 36px 50px;
    max-height: calc(100% - (36px * 2));
  }
  .files-modal-confirmation {
    display: none;
  }
}

.files-modal-modal {
  .spb-popup-main-wrapper {
    overflow: auto;
    top: 150px;
  }
  .spb_top_center {
    top: 10%;
    @include mq($md) {
      max-height: calc(100vh - 180px);
      height: auto;
      margin-top: 150px;
      top: 0;
    }
    @include mq($lg) {
      max-height: calc(100vh - 280px);
      height: auto;
    }
  }

  .spb_center {
    margin-top: rem(-20);
  }

  .spb_close {
    color: $black;
  }

  .button {
    box-sizing: border-box;
    display: block;
    text-align: left;
    overflow: hidden;
  }

  .field--name-name {
    display: inline;
    font-weight: 700;
  }

  span {
    font-weight: 100;
  }
}
.toolbar-tray-open .files-modal-modal {
  .spb_top_center {
    @include mq($md) {
      margin-top: 25vh;
    }
  }
}

.region-top-modals .spb_top_bar {
  position: static;
  margin-bottom: 16px;

  .block-modal {
    display: flex;

    .top-image {
      order: 2;
    }
    .modal_inner {
      width: 50%;
    }
  }
}
