.page-node-type-project-detail,
.page-node-type-subpage,
.page-node-type-microsite,
.subpage {
  .landing-page__hero.has-image {
    .intro p {
      @include font($acumin-semi-cond, "semibold");
      @include font-line-height(24, 38);

      @include mq($ph) {
        max-width: 530px;
      }

      @include mq($md) {
        @include font-line-height(30, 43);
      }

      @include mq($xl) {
        max-width: 775px;
      }
    }
  }
  .hero__text--inner {
    .h1 p {
      margin-bottom: $space-xs;
    }

    .intro p {
      margin-top: 0;
    }
  }

  .hero__text .intro-text {
    @include font($acumin-semi-cond, "semibold");
    @include font-line-height(30, 43);
  }

  .publication__detail .publication__meta-inner {
    border-top: none;
    padding-top: 0;
  }

  .publication__detail .publication__main,
  .landing-page__content {
    .publication__image,
    .layout__region--featured-image {
      img {
        width: 100%;
        height: auto;
        max-width: 250px;
      }

      @include center-columns($grid-columns-mobile, $grid-columns-mobile);

      @include mq($ph) {
        @include center-columns($grid-columns, $grid-columns);
      }

      @include mq($md) {
        @include column-width(2, 4);
      }
    }

    .main-content {
      @include mq($md) {
        @include column-width(3, 11);
      }
      @include mq($lg) {
        @include column-width(4, 10);
      }
    }

    .sidebar {
      @include mq($lg) {
        @include column-width(10, 13);
      }
    }
  }

  .visit-on-social {
    @include font($caslon, "italic");
    @include font-line-height(15, 16);
    display: block;
    margin-bottom: $space-xs;
    text-decoration: none;
    white-space: nowrap;

    @include hocus() {
      text-decoration: underline;
    }
    @include mq($lg) {
      margin-bottom: 0;
    }
  }
  .visit-on-social .field--name-field-social-links {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-social {
    @include mq($lg) {
      display: none;
    }
  }
  .desktop-social,
  .layout__region--sidebar {
    display: none;

    @include mq($lg) {
      display: block;
    }
  }
  .publication__detail .publication__main {
    .sidebar {
      @include mq($ph) {
        @include column-width(1, 5);
        align-self: start;
        grid-row: 1;
        order: 1;
      }
      @include mq($lg) {
        @include column-width(10, 13);
        order: 2;
        grid-row: 2 / 3;
      }
    }
    .main-content {
      @include mq($ph) {
        @include column-width(5, 13);
        grid-row: 2 / 4;
        order: 3;
      }
      @include mq($lg) {
        @include column-width(4, 10);
        order: 1;
      }
    }
    .publication__image {
      @include mq($ph) {
        @include column-width(1, 5);
        align-self: start;
        order: 2;
        grid-row: 2 / 3;
        margin-top: 50px;
        display: none;
      }
      @include mq($lg) {
        @include column-width(2, 4);
        order: 0;
        grid-row: 2;
        margin-top: 0;
        display: block;
      }
    }
  }

  .media--view-mode-full-width {
    @include mq($ph) {
      margin-left: -65vw;
    }
    @include mq($lg) {
      margin-left: -50vw;
    }
  }
}

.subpage {
  .landing-page__hero .hero__text .hero__text--inner,
  .landing-page__hero.has-image .hero__text,
  .landing-page__hero.has-image .hero__text .grid {
    min-height: 550px;
  }
}

.node--type-subpage .layout__region--featured-image {
  img {
    display: none;
    @include mq($lg) {
      display: initial;
    }
  }
}

.page-node-type-microsite {
  // This obnoxious duplicated code needed for Microsites like /cities that have
  // a logo. We should turn those into a different template instead of using
  // web/profiles/contrib/wri_sites/modules/wri_publication/templates/wri-publication-columns.html.twig
  // in the future. Projects and Microsites can both have logos, but the
  // grid on Microsites behaves differently.
  .publication__detail .publication__main {
    .main-content {
      @include mq($ph) {
        @include column-width(1, 13);
        grid-row: initial;
        order: initial;
      }
      @include mq($md) {
        // Duplicating the md size for Microsites, overridden at $ph below.
        @include column-width(5, 13);
        grid-row: 2 / 4;
        order: 3;
      }
      @include mq($lg) {
        @include column-width(4, 10);
        order: 1;
      }
    }
    .publication__image {
      @include mq($ph) {
        @include column-width(1, 13);
        grid-row: initial;
        display: block;
        order: initial;
        margin-top: 0;
      }

      @include mq($md) {
        // Duplicating the md size for Microsites, overridden at $ph below.
        @include column-width(1, 5);
        order: 2;
        grid-row: 2 / 3;
      }

      @include mq($lg) {
        @include column-width(2, 4);
        order: 0;
        grid-row: 2;
        margin-top: 0;
        display: block;
      }
    }
  }
}
