// Shared styles for Data, Publications, and Projects.
// @todo rename file and references to something more global sounding.

.publication__detail {
  // Hero
  .hero__text {
    .publication__type > .h4 {
      @include center-columns($grid-columns-mobile, $grid-columns-mobile);
      & {
        background-color: $black;
        padding: 8px 10px;
      }

      @include mq($ph) {
        @include center-columns($grid-columns, $grid-columns);
      }

      @include mq($lg) {
        @include center-columns(10, $grid-columns);
      }
    }

    .hero__left,
    .hero__right {
      @include center-columns($grid-columns-mobile, $grid-columns-mobile);

      @include mq($ph) {
        @include center-columns($grid-columns, $grid-columns);
      }
    }

    .hero__left {
      @include mq($md) {
        @include column-width(1, 9);
      }

      @include mq($lg) {
        @include column-width(2, 9);
      }

      .h1 {
        margin-top: 0;
      }
    }

    .hero__right {
      @include mq($md) {
        @include column-width(9, 13);
        & {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }

      @include mq($lg) {
        @include column-width(9, $grid-columns);
      }

      img {
        width: auto;
      }
    }

    .buttons {
      a {
        margin-right: rem(10);
        margin-bottom: rem(20);
      }
    }

    .buttons .paragraph--type--social-media-sites {
      a {
        margin-right: rem(16);
      }
    }
  }

  .main-content,
  .sidebar {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }
  }

  // Publication Main
  .publication__image {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }

    @include mq($lg) {
      @include center-columns(10, $grid-columns);
    }

    img {
      width: 100%;
    }
  }

  .publication__main .sidebar {
    @include mq($lg) {
      @include column-width(9, 12);
      & {
        order: 1;
      }
    }
  }

  .main-content {
    @include font($acumin-semi-cond, "light");
    @include font-line-height(18, 30);

    & > *:first-child {
      margin-top: 0 !important;
    }

    @include mq($lg) {
      @include column-width(2, 8);
    }
  }
}

.list-of-fields-sidebar {
  font-size: rem(14);
  line-height: rem(18);
  letter-spacing: normal;
  font-family: "acumin-pro-semi-condensed", sans-serif;

  a {
    text-decoration: none;
    font-weight: bold;

    @include text-underline(transparent, $green);
    & {
      background-position: left 100%;
    }

    &.more-open-close {
      font-weight: normal;
    }
  }

  .field-label-above,
  .field-label-inline {
    @extend .italic-tiny;
  }

  .field-label-above a {
    @include mq($lg) {
      @include font($caslon, "regular", "italic");
      @include font-line-height(15, 19);
    }
  }

  .field-label-above.top-border-medium {
    padding-top: 12px;
  }

  .field {
    @extend .margin-bottom-sm;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0 rem(7);
      padding: 0;

      &.top-border-tiny {
        padding: 6px 0 12px;
      }
    }
  }
  .paragraph--type--social-links-listing {
    .field--name-field-title {
      margin-bottom: 16px;
    }
    .field--name-field-social-links {
      display: flex;
    }
  }

  .pager .pager__item--next,
  .pager .pager__item--previous {
    display: inline-block;
  }
}

// End shared project, data, publication styles.

// Publication specific Styles.
.page-node-type-publication {
  .hero__left {
    a.button.download {
      &::after {
        bottom: initial;
        right: rem(28);
      }
    }
  }

  .hero__right {
    .publication-reference {
      @include font($acumin-semi-cond, "regular");
      @include font-line-height(13, 18);

      .field-label-inline {
        display: inline-block;
        &::after {
          content: ": ";
        }
      }

      .isbn,
      .doi {
        display: inline-block;

        a {
          font-weight: 700;
          text-decoration: none;
          color: $black;

          @include hocus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .publication__main .main-content {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: rem(30);
  }
}

// Make text blocks match the font of their parent node.
.block-inline-blocktext-block {
  @include font($acumin-semi-cond, "light");
  @include font-line-height(18, 30);
}
