.block-wri-region-map-block {
  .h3 {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }

    @include mq($lg) {
      @include column-width(1, 4);
    }
  }

  .intro {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);
    /* line text up with border. */
    & {
      margin-top: -0.5rem;
    }

    &.margin-bottom-md {
      @media (max-width: rem(767)) {
        margin-bottom: 0;
      }
    }

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }

    @include mq($lg) {
      @include column-width(4, 13);
    }

    p {
      margin: 0;
    }
  }

  &.has-white-background-color svg > g.region {
    path,
    polyline,
    polygon {
      fill: #e6e6e6;
    }
  }

  &.has-light-gray-background-color svg > g.region {
    path,
    polyline,
    polygon {
      fill: var(--color-white);
    }
  }
}

.interactive-map {
  width: 100%;
  height: auto;
  background-color: var(--color-white);
  text-align: center;
  aspect-ratio: 923.2/448;
}
.has-light-gray-background-color .interactive-map {
  background-color: var(--color-neutral-200);
}

.wri-region-map {
  @include center-columns($grid-columns-mobile, $grid-columns-mobile);

  @include mq($ph) {
    @include center-columns($grid-columns, $grid-columns);
  }

  @include mq($md) {
    &.hidden {
      display: block;
    }
  }

  svg > g.region,
  svg > g.international_office {
    outline: 0;

    path,
    polyline,
    polygon,
    circle,
    text {
      cursor: pointer;
      transition: fill var(--transition-default);
    }
  }

  svg > g.region {
    text {
      @include font(var(--font-family-serif), "italic");
      & {
        color: var(--color-neutral-900);
      }
    }
  }

  svg > g.region:hover,
  svg > g.region:focus {
    path,
    polyline,
    polygon {
      fill: #b3b3b3;
    }
  }

  svg > g.international_office {
    circle {
      fill: var(--color-gold-500);
    }

    text {
      display: none;
      @include font(var(--font-family-heading-condensed), "medium");
      & {
        color: var(--color-neutral-900);
      }

      @include mq($md) {
        display: block;
      }
    }

    text:last-of-type {
      @include font(var(--font-family-heading-condensed), "semibold");
    }
  }

  svg > g.international_office:hover,
  svg > g.international_office:focus {
    circle {
      fill: var(--color-gold-300);
    }
  }
}
