.wri-region-map-popup {
  display: none;
  background-color: var(--color-neutral-900);

  .region-section {
    text-align: center;
    border-top: 1px solid var(--color-neutral-400);
    padding: 1rem;

    &:first-child {
      border-top: 0 none;
    }
  }

  .region-section-label {
    color: var(--color-white);
    @include font(var(--font-family-serif), "semibold", "italic");
    @include font-line-height(15, 18);
  }

  .region-section-link a {
    color: var(--color-gold-500);
    @include font(var(--font-family-heading-condensed), "bold");
    @include font-line-height(20, 24);
    & {
      text-decoration: none;
    }

    @include hocus {
      color: var(--color-gold-300);
      text-decoration: underline;
    }
  }
}

.wri-region-map-popup-button {
  display: none;
}

.wri-region-map-popup-modal {
  .spb_close {
    color: var(--color-white);
  }
}
