.search-results-container {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  @include mq($md) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .tags ul,
  .tags li {
    display: inline;
    margin: 0;
  }
  .tags li {
    @include font(var(--font-family-heading-condensed), "medium", "normal");
    @include font-line-height(11, 14);
    & {
      background-position: left 100%;
      text-decoration: none;
      text-transform: capitalize;
    }
    &:after {
      content: ", ";
    }
  }
  .tags li:last-of-type:after {
    content: none;
  }

  .search-results-tags {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 0 48%;
    justify-content: space-between;
    order: 2;
    @include mq($md) {
      border-right: 1px solid var(--color-neutral-900);
      flex: 0 0 180px;
      margin-right: 25px;
      order: unset;
    }

    .topic-tag {
      letter-spacing: 0.69px;
    }
    .topic-tag a {
      @include font-line-height(12, 18);
      & {
        letter-spacing: 0.7px;
      }
      @include mq($md) {
        @include font-line-height(15, 22);
        & {
          letter-spacing: 0.9px;
        }
      }
    }
    .tags {
      margin-bottom: var(--spacer-5);
    }
    .content-type-region {
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      width: calc(100% - 25px);
    }
    .content-type-region a {
      @include text-underline-thin(transparent, var(--color-neutral-900));
      & {
        background-position: left 100%;
        text-decoration: none;
      }
    }
  }

  .post-date {
    @include font(var(--font-family-heading-condensed), "light", "normal");
    @include font-line-height(11, 14);
    & {
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
  }


  h3.h3 {
    margin-bottom: 20px;
    margin-top: 5px;
    @include mq($md) {
      display: block;
      margin-bottom: 24px;
    }
  }
  h3.h3 a {
    @include font-line-height(24, 30);
    @include text-underline(transparent, var(--color-neutral-900));
    & {
      background-position: left 100%;
      text-decoration: none;
    }
  }

  .search-results-text {
    align-items: flex-start;
    border-bottom: 1px solid var(--color-neutral-900);
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
    order: 1;
    @include mq($md) {
      border-bottom: none;
      flex: 1 1 auto;
      margin-bottom: 0;
      order: unset;
    }
    .event-info-item-past {
      @include font(var(--font-family-heading-condensed), "bold", "normal");
      @include font-line-height(14, 18);
      & {
        color: var(--color-blue-500);
      }
    }
    .tags {
      display: none;
      @include mq($md) {
        display: block;
        line-height: 0.8;
        margin-top: auto;
      }
    }
    .button {
      margin-bottom: 20px;
      @include mq($md) {
        margin-bottom: 0;
      }
    }
  }
  .search-results-image {
    box-sizing: border-box;
    flex: 0 0 48%;
    order: 3;
    @include mq($md) {
      flex: 0 0 225px;
      order: unset;
      padding-left: 25px;
      text-align: right;
    }
    .tags {
      display: block;
      line-height: 0.8;
      @include mq($md) {
        display: none;
      }
    }
  }
  .search-results-image img {
    display: none;
    max-width: 200px;
    margin: 0 auto;
    width: auto;
    @include mq($md) {
      display: block;
    }
  }

  .pinned & {
    border-top: 3px solid var(--color-gold-500);
  }
}

li.search-results {
  display: block;
}

.pager {
  .pager__items {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .pager__item {
    padding: 0 0.5em;
  }
  .pager__item--next,
  .pager__item--previous {
    display: none;
  }
  .pager__items .pager__item--last,
  .pager__items .pager__item--first,
  .pager-show-next & .pager__item--next {
    align-items: center;
    border: 1px solid var(--color-neutral-900);
    bottom: 2px;
    display: inline-flex;
    height: 26px;
    justify-content: center;
    letter-spacing: 0.75px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    a {
      @include font-line-height(12, 12);
    }
  }
  .pager__items a {
    @include font(var(--font-family-heading-condensed), "bold", "normal");
    @include font-line-height(18, 24);
    & {
      text-decoration: none;
    }
  }
  .pager__items .pager__item.is-active a {
    color: var(--color-green-500);
    font-weight: normal;
  }
}

.display-insights-search-results {
  display: block;
  @include mq($md) {
    display: flex;
  }
  .search-results-tags {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: var(--spacer-5);

    .topic-tag {
      margin-right: var(--spacer-5);
    }
    img {
      display: none;
    }
    .bundle {
      display: none;
    }

    @include mq($md) {
      flex: 0 0 200px;
      flex-direction: column;
      margin-bottom: 0;

      img {
        max-width: 180px;
        display: block;
        margin: var(--spacer-2) 0;
      }

      .post-date {
        display: none;
      }
      .bundle {
        display: block;
        // push to the bottom of the parent.
        margin-top: auto;
        width: calc(100% - 35px);
      }
    }
  }
  .search-results-text {
    border-bottom: none;

    .post-date {
      display: none;
    }
    @include mq($md) {
      .bundle {
        display: none;
      }
      .post-date {
        display: block;
        margin-bottom: var(--spacer-2);
      }
    }
  }
  .bundle {
    width: calc(100% - 16px);
    text-align: center;
  }
  h3.h3 {
    margin-bottom: 0;
    a {
      background-image: none;

      &:hover {
        background-image: none;
        color: var(--color-green-500);
        text-decoration: underline;
      }
    }
  }
}
