.search-results-container {
  background-color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  @include mq($md) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .tags ul,
  .tags li {
    display: inline;
    margin: 0;
  }
  .tags li {
    @include font($acumin-semi-cond, "medium", "normal");
    @include font-line-height(11, 14);
    background-position: left 100%;
    text-decoration: none;
    text-transform: capitalize;
    &:after {
      content: ", ";
    }
  }
  .tags li:last-of-type:after {
    content: none;
  }

  .search-results-tags {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 0 0 48%;
    justify-content: space-between;
    order: 2;
    @include mq($md) {
      border-right: 1px solid $black;
      flex: 0 0 180px;
      margin-right: 25px;
      order: unset;
    }
    .topic-tag {
      letter-spacing: 0.69px;
    }
    .topic-tag a {
      @include font-line-height(12, 18);
      letter-spacing: 0.7px;
      @include mq($md) {
        @include font-line-height(15, 22);
        letter-spacing: 0.9px;
      }
    }
    .tags {
      margin-bottom: $space-xs;
    }
    .content-type-region {
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      width: calc(100% - 25px);
    }
    .content-type-region a {
      @include text-underline-thin(transparent, $black);
      background-position: left 100%;
      text-decoration: none;
    }
  }
  .search-results-text {
    align-items: flex-start;
    border-bottom: 1px solid $black;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
    order: 1;
    @include mq($md) {
      border-bottom: none;
      flex: 1 1 auto;
      margin-bottom: 0;
      order: unset;
    }
    .event-info-item-past {
      @include font($acumin-semi-cond, "bold", "normal");
      @include font-line-height(14, 18);
      color: $blue;
    }
    .post-date {
      @include font($acumin-semi-cond, "light", "normal");
      @include font-line-height(11, 14);
      letter-spacing: 0.4px;
      text-transform: uppercase;
    }
    h3.h3 {
      margin-bottom: 20px;
      margin-top: 5px;
      @include mq($md) {
        display: block;
        margin-bottom: 24px;
      }
    }
    h3.h3 a {
      @include font($acumin-semi-cond, "bold", "normal");
      @include font-line-height(24, 30);
      @include text-underline(transparent, $black);
      background-position: left 100%;
      text-decoration: none;
    }
    .tags {
      display: none;
      @include mq($md) {
        display: block;
        line-height: 0.8;
        margin-top: auto;
      }
    }
  }
  .search-results-image {
    box-sizing: border-box;
    flex: 0 0 48%;
    order: 3;
    @include mq($md) {
      flex: 0 0 225px;
      order: unset;
      padding-left: 25px;
      text-align: right;
    }
    .tags {
      display: block;
      line-height: 0.8;
      @include mq($md) {
        display: none;
      }
    }
  }
  .search-results-image img {
    display: none;
    max-width: 200px;
    margin: 0 auto;
    width: auto;
    @include mq($md) {
      display: block;
    }
  }
}

li.search-results {
  display: block;
}

.pager {
  .pager__items {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .pager__item {
    padding: 0 0.5em;
  }
  .pager__item--next,
  .pager__item--previous {
    display: none;
  }
  .pager__items .pager__item--last,
  .pager__items .pager__item--first {
    align-items: center;
    border: 1px solid $black;
    bottom: 2px;
    display: inline-flex;
    height: 26px;
    justify-content: center;
    letter-spacing: 0.75px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    a {
      @include font-line-height(12, 12);
    }
  }
  .pager__items a {
    @include font($acumin-semi-cond, "bold", "normal");
    @include font-line-height(18, 24);
    text-decoration: none;
  }
  .pager__items .pager__item.is-active a {
    color: $green;
    font-weight: normal;
  }
}
