.page-node-type-simple-page {
  .layout__region--title {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);
    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }
    @include mq($md) {
      @include column-width(2, -2);
    }
  }
  .has-menu {
    order: 1;
    @include mq($md) {
      @include column-width(2, -4);
      order: 1;
    }
  }

  .layout__region--menu {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);
    order: -1;
    margin-top: 16px;
    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }
    @include mq($md) {
      @include column-width(10, 12);
      margin-top: 0;
      order: 1;
    }
  }

  .simple-page__content .main-content {
    @include mq($md) {
      @include column-width(2, -2);
    }
  }

  .intro-wrapper {
    @include font($acumin-semi-cond, "semibold");
    @include font-line-height(20, 24);
    margin-bottom: 0;

    @include mq($md) {
      @include font-line-height(24, 32);
      margin-bottom: 0;
    }
  }

  .paragraph--type--side-by-side {
    @extend .grid;
    @extend .margin-top-xl;
    @extend .margin-bottom-xl;
    position: relative;

    &:before {
      content: "";
      @extend .top-border-thick;
      display: block;
      @include column-width(1, -1);
      margin: $space-xs 0 0;
      padding-top: $space-xs;
      grid-row: 1;

      @include mq($md) {
        @include column-width(2, 6);
      }
    }

    .field--name-field-title {
      @include column-width(1, -1);
      grid-row: 2;
      margin-top: 0;

      @include mq($md) {
        @include column-width(2, 6);
        grid-row: 1;
        margin-top: $space-md;
      }

      h2 {
        @include font($acumin-semi-cond, bold);
        @include font-line-height(32, 40);
        margin: 0;
      }
    }

    .field--name-field-body {
      @include column-width(1, -1);
      grid-row: 3;

      @include mq($md) {
        @include column-width(6, 12);
        grid-row: 1;
      }

      p {
        @include font($acumin-semi-cond, light);
        @include font-line-height(18, 30);

        &:first-of-type {
          @include mq($md) {
            margin-top: 10px;
          }
        }
      }
    }
    .media--view-mode-half-content {
      width: 50%;
    }
    .media--view-mode-full,
    .media--view-mode-full-width {
      @include mq($md) {
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
      }
    }

    a {
      background-position: left 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .paragraph--type--statistics {
    .field--name-field-statistics {
      @include mq($md) {
        @include column-width(6, 12);

        &::after {
          left: 18%;
        }
      }
    }

    .field--name-field-statistics-title {
      @include mq($md) {
        @include column-width(2, 6);
      }
    }
  }

  .paragraph--type--image {
    @extend .grid;
    .field--name-field-image {
      @include center-columns($grid-columns-mobile, $grid-columns-mobile);

      @include mq($ph) {
        @include center-columns($grid-columns, $grid-columns);
      }
      @include mq($md) {
        @include column-width(2, 12);
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.page-hierarchies {
  @include font($acumin-pro, "regular");

  @include mq($md) {
    border-left: 1px solid #1a1919;
    margin: $space-lg 0;
    padding-left: $space-xs;
  }

  li {
    margin-bottom: 12px;

    &.menu-item--collapsed {
      list-style: none;
    }
  }

  a {
    color: $green;
    text-decoration: none;

    @include hocus {
      color: $black;
    }
  }
}

.experts-staff-header {
  .left {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }

    @include mq($md) {
      @include column-width(1, 8);
    }
  }

  .right {
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);
    margin-top: $space-sm;
    margin-bottom: $space-sm;

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }

    @include mq($md) {
      margin-top: $space-lg;
      @include column-width(9, 13);
    }
  }
}

// Sub menu styles for simple page and experts page.
.internal-menu-pages {
  display: block;
  margin: 0;
  width: 100%;
  position: relative;

  .field-label {
    @include font($acumin-semi-cond, "normal");
    border-radius: 3px;
    border: 1px solid $black;
    display: flex;
    font-style: normal;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: 0;
    padding: rem(10);

    & > a {
      color: $black;
      text-decoration: none;
    }

    &::after {
      background: url(../img/svgs/arrow-thin.svg) no-repeat center -1px /16px;
      content: "";
      display: block;
      height: 16px;
      transform: rotate(90deg);
      width: 16px;
      position: relative;
      top: 2px;
    }

    @include mq($md) {
      display: none;
    }
  }

  ul.menu {
    background-color: $white;
    border: 1px solid $light-grey;
    box-sizing: border-box;
    opacity: 0;
    padding: rem(15) rem(20);
    position: absolute;
    transition: all 0.5s ease;
    visibility: hidden;
    width: 100%;
    z-index: 10;

    @include mq($md) {
      border: none;
      box-sizing: border-box;
      display: block;
      opacity: 100;
      padding: 0;
      position: relative;
      transition: none;
      visibility: visible;
      width: auto;
      left: 0;
      z-index: 10;
    }

    li {
      margin: 0 0 rem(7);

      @include mq($md) {
        margin-bottom: rem(12);
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      @include font-line-height(18, 24);
    }
    ul.menu {
      border-top: 0;
      left: -1px;
      width: calc(100% + 2px);
      padding-left: 2.5rem;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    ul.menu {
      opacity: 1;
      visibility: visible;
    }
  }
}
