.block > .small-cta-wrapper {
  align-items: center;
  display: flex;
  min-height: 100px;

  a.arrow-link {
    font-size: rem(24);
    color: $white;
  }
}

.small-cta-wrapper.has-gold-background-color #CTA-content-blocks---large {
  stroke: $black;
}

.small-cta-wrapper.has-light-gray-background-color {
  a.arrow-link {
    color: $black;
  }
}
