.social-sharing-block {
  @include font("acumin-pro", "regular");

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: rem(125);

    & > li {
      border-radius: 3px;
      border: 1px solid var(--color-neutral-200);
      color: var(--color-neutral-900);
      display: block;
      padding: 0;
      position: relative;
      text-decoration: none;
      transition-duration: 0.5s;

      &:hover,
      &:focus-within {
        background-color: var(--color-gold-500);
        cursor: pointer;
      }
    }
  }

  ul > li > a {
    @include hocus() {
      background: none;
      text-decoration: underline;
    }
    @include font-line-height(15, 40);

    & {
      color: #fff;
      display: block;
      text-decoration: none;
    }

    &.share-icon {
      background: transparent url("../img/svgs/share.svg") no-repeat;
      background-size: 15px, 16px;
      background-position: center, center;
      height: rem(36);
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: rem(36);

      &.icon-email {
        background-image: url("../img/svgs/email.svg");
      }
      &.icon-print {
        background-image: url("../img/svgs/print.svg");
      }
    }
  }

  // Sub-nav
  ul > li > ul {
    background: var(--color-neutral-200);
    border-top: 3px solid var(--color-white);
    display: none;
    left: rem(-2);
    margin-top: 0;
    opacity: 0;
    padding-bottom: rem(10);
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    visibility: hidden;
    z-index: 1;
    @include mq($lg) {
      left: rem(-52);
      width: rem(140);
    }

    & > li {
      background-color: transparent;
      border-radius: 0;
      border: none;
      padding: rem(5) 0;
      width: 100%;

      &:hover,
      &:focus-within {
        background-color: transparent;
      }

      a {
        color: var(--color-neutral-900);
      }
    }
  }

  // Sub-nav hover visibility.
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
}

.paragraph--type--social-media-sites {
  display: inline-block;
  margin-bottom: rem(5);

  .social-icon-wrapper {
    display: inline-block;
    max-width: 24px;
    max-height: 24px;
    color: black;
    font-size: 0;
    &.twitter {
      max-width: 22px;
      max-height: 22px;
    }
    &.wechat {
      max-width: 28px;
      max-height: 28px;
    }
    &.weibo,
    &.bluesky {
      max-width: 25px;
      max-height: 25px;
    }
    .social-icon-wrapper.facebook,
    .social-icon-wrapper.linkedin,
    .social-icon-wrapper.twitter {
      position: relative;
      bottom: 1px;
    }
  }
  a {
    @include font(var(--font-family-heading-condensed), "bold");
    @include text-underline(transparent, var(--color-neutral-900));
    & {
      background-position: left 100%;
      margin-right: rem(16);
    }
  }
  a.handle {
    position: relative;
    bottom: 1px;
  }
  .twitter:before {
    content: none;
  }
  svg {
    max-width: 100%;
    height: auto;
  }
  svg path {
    fill: black;

    &.fill-none {
      fill: none;
    }
  }
}

.field-name-field-paragraphs .field-label-above {
  font-style: italic;
  margin-bottom: rem(16);
  margin-top: rem(16);
}
