.teaser-item {
  border-top: 1px solid var(--color-neutral-900);

  .teaser__inner-wrapper {
    display: flex;
    justify-content: space-between;

    .right-section {
      flex-shrink: 0;
      margin-left: 16px;
    }
  }

  .bundle {
    margin-right: 8px;
  }
}
