@use "sass:math";

.tile {
  .h3,
  .secondary {
    margin-bottom: var(--spacer-5);

    a {
      text-decoration: none;

      @include hocus {
        text-decoration: underline;
      }
    }
  }

  .card-image {
    position: relative;
    min-height: var(--spacer-11);
    z-index: 1;

    @include mq($lg) {
      min-height: 157px;
    }

    @include mq($xl) {
      min-height: 257px;
    }
  }

  .card-image img {
    width: 100%;
    object-fit: cover;
    min-height: 260px;
  }

  .card-text {
    max-width: calc(100% - 70px);
    position: relative;
    margin-top: -var(--spacer-11);
    z-index: 2;

    @include mq($lg) {
      max-width: calc(100% - 135px);
      margin-top: -157px;
      min-height: 157px;
    }

    @include mq($xl) {
      max-width: 50%;
      min-height: 257px;
      margin-top: -257px;
    }
  }

  .has-white-background-color {
    border: 1px solid var(--color-white);
  }

  .tile-buttons {
    margin-bottom: 10px;
  }

  .button.small {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

// International Office Tiles
.tile.international_office {
  position: relative;
  box-sizing: border-box;
  padding-top: 250px;
  background-color: black;

  @include mq($md) {
    padding-top: 185px;
  }
  @include mq($lg) {
    padding-top: 95px;
  }
  @include mq($xl) {
    padding-top: 0;
  }

  .card-image::after {
    content: "";
    @include hero_bottom_gradient_medium(to bottom, var(--color-black));
    & {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }

  .card-text {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    margin-top: 0;
    max-width: 100%;
    padding: var(--spacer-5);
    position: absolute;
    top: 0;

    @include mq($lg) {
      padding: 0 rem(40) 0;
    }

    h3 {
      @extend .white;
      @extend .card-headline;
      @include font(var(--font-family-heading-condensed), "bold");
      @include font-line-height(32, 40);
      & {
        margin: 0;
      }

      a {
        color: var(--color-white);
        @include text-underline(transparent, var(--color-white));
        & {
          background-position: left 100%;
        }
      }
    }

    p {
      @extend .teaser-title;
    }
  }
}
