.black-bar {
  background: var(--color-neutral-900);
  color: var(--color-white);
  a {
    color: var(--color-white);
    text-decoration: none;

    @include hocus() {
      text-decoration: underline;
    }

    &.active,
    &.is-active {
      color: var(--color-neutral-400);
    }
  }
  .menu-item--expanded > a {
    color: var(--color-gold-500);

    @include hocus() {
      text-decoration: underline;
    }
  }
  ul.menu a.is-active {
    color: var(--color-white);
    text-decoration: underline;
  }

  .back-arrow svg path,
  .nav-arrow svg path {
    fill: var(--color-white);
  }
}
.gold-bar {
  background: var(--color-gold-500);
  color: var(--color-neutral-900);

  a {
    color: var(--color-neutral-900);
    text-decoration: none;

    @include hocus() {
      text-decoration: underline;
    }
  }
  ul.menu a.is-active {
    text-decoration: underline;
  }

  .back-arrow svg path,
  .nav-arrow svg path {
    fill: var(--color-neutral-900);
  }
}

.publication__toc {
  clear: both;
  display: none;
  @include mq($md) {
    display: block;
  }

  @include font(var(--font-family-heading-condensed), "bold");
  @include font-line-height(18, 21);
  & {
    position: relative;
    z-index: 51;
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: $site-max-width;

    .user-logged-in & {
      top: rem(39);
    }
    .user-logged-in.toolbar-tray-open & {
      top: rem(79);
    }
  }

  .toc,
  .block-menu {
    margin: var(--spacer-5) 0;
    position: relative;
    @include center-columns($grid-columns-mobile, $grid-columns-mobile);

    @include mq($ph) {
      @include center-columns($grid-columns, $grid-columns);
    }

    @include mq($lg) {
      @include column-width(2, 12);
    }

    li {
      margin-bottom: 0;
    }

    .menu-title,
    .menu > ul > li > a {
      @include font(var(--font-family-serif), "bold", "italic");
      @include font-line-height(18, 18);
      & {
        display: block;
        margin-bottom: 5px;
        position: relative;
      }

      @include mq($md) {
        margin-right: 0;
        top: 0;
      }
    }

    svg.offsite-link {
      display: inline-block;
      margin-left: 5px;
    }

    .toc-list-wrapper {
      margin: 0;
      padding: 0;
    }

    .menu-item--active-trail .menu {
      overflow: scroll;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
      margin-right: 15px;

      &::-webkit-scrollbar {
        display: none;
      }

      & > .field-label {
        display: none;
      }

      > .menu {
        display: inline-block;
        width: auto;

        .toc-list-wrapper {
          margin: 0;
          padding: 0;
        }
      }
    }

    .menu-wrapper > .menu > ul > li > ul {
      display: flex;
      justify-content: flex-start;
      padding: 0;
      width: auto;
      z-index: 1;
      position: relative;

      li {
        list-style-image: none;
        list-style-type: none;
        margin-right: var(--spacer-7);
        padding-top: 0;
        white-space: nowrap;
      }
    }

    .nav-arrow,
    .back-arrow {
      bottom: 0;
      display: inline-block;
      font-weight: 600;
      height: 16px;
      line-height: 1;
      padding: 2px 2px 2px 5px;
      position: absolute;
      right: -20px;
      width: 30px;
    }
    .back-arrow {
      left: -20px;
      right: auto;
      transform: scaleX(-1);
    }
    .back-arrow svg,
    .nav-arrow svg {
      width: 8px;
    }
  }
}

.mobile__toc {
  clear: both;
  background-color: var(--color-white);
  display: block;
  margin: 16px 20px 0;
  border-radius: 3px;
  @include mq($md) {
    display: none;
  }
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    left: 20px;
    max-width: calc(100% - 20px * 2);
    z-index: 500;

    + .detail__meta,
    + .publication__main {
      margin-top: 107px;
    }
    @include mq($md) {
      + .detail__meta,
      + .publication__main {
        margin-top: 149px;
      }
    }
  }
}

.publication__toc nav.toc.no-scroll {
  .toc-list-wrapper .continue {
    content: none;
  }
  .nav-arrow {
    display: none;
  }
}

// Fix jump link offset to account for fixed header.
.publication__main h2[id] {
  &::before {
    display: block;
    content: " ";
    margin-top: -85px;
    height: 85px;
    visibility: hidden;
    pointer-events: none;

    .user-logged-in & {
      margin-top: -150px;
      height: 150px;
    }
  }
}
