div.ui-dialog:not(.ui-dialog-off-canvas) {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  // Title wrapper.
  .ui-dialog-titlebar {
    // Reset all styles so we can start from scratch.
    all: unset;
    @include font(var(--font-family-heading-condensed), "bold");
    @include font-line-height(24, 30);
    & {
      position: relative;
      padding-top: var(--spacer-7);
      padding-right: var(--spacer-7);
      padding-left: var(--spacer-5);
    }
    @include mq($md) {
      padding-right: var(--spacer-11);
      padding-left: var(--spacer-11);
      @include font-line-height(32, 40);
    }

    // Title.
    .ui-dialog-title {
      all: unset;
    }

    // Close button.
    .ui-dialog-titlebar-close {
      all: unset;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      text-indent: -9999px;
      cursor: pointer;

      &:hover,
      &:focus {
        .ui-icon-closethick:before,
        .ui-icon-closethick:after {
          background-color: var(--color-gold-300);
        }
      }
    }

    // Close icon.
    .ui-icon-closethick {
      all: unset;

      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 3px;
        height: 100%;
        top: 50%;
        left: 50%;
        background-color: var(--color-gold-500);
        transition: background-color var(--transition-default);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  // Content.
  .ui-dialog-content {
    padding-right: var(--spacer-5);
    padding-bottom: var(--spacer-11);
    padding-left: var(--spacer-5);

    @include mq($md) {
      padding-right: var(--spacer-11);
      padding-bottom: var(--spacer-11);
      padding-left: var(--spacer-11);
    }
  }

  // Inputs
  input[type="email"],
  input[type="text"] {
    @include font-line-height(14, 18);
    & {
      padding: initial;
      background-color: darkkhaki;
      height: 46px;
      padding: 15px 10px 12px;
      background-color: var(--color-white);
    }
  }

  // Submit
  input[type="submit"] {
    @include font(var(--font-family-heading-condensed), "semibold");
    @include font-line-height(13, 16);
    // height: 40px;
    & {
      padding: 12px 40px;
    }
  }

  // Label
  label {
    font-size: initial;
    line-height: initial;
    padding-top: 2px;
    @include font-line-height(14, 18);
  }

  // Show files.
  #skip-registration {
    color: var(--color-neutral-900);
    cursor: pointer;
    font-size: 0.9375rem;
    text-decoration: underline;
    transition: color var(--transition-default);

    &:hover,
    &:focus {
      color: var(--color-green-500);
    }
  }

  // Download.
  .media--type-document {
    margin-top: 0.75rem;

    .download {
      display: block;
      text-align: left;

      .field--name-name {
        display: inline;
        font-weight: 700;
      }

      span {
        font-weight: 100;
      }
    }
  }
}

// Darkened background behind modal.
.ui-widget-overlay {
  background-color: var(--color-neutral-900);
  opacity: 0.4;
}
