{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{#This view mode will have two or three sections, depending on your preference, which will contain the Title of the node, the "Type" value of the node, and the "Topic" field. On Projects, the "Type" field will not be shown. You'll be using this view mode to show the content on the right of the Impact paragraph type.#}

{% if content %}
  <div class="impact-item top-border-thick margin-bottom-lg">
    <div class="impact-title">
      {{ content.title }}
    </div>

    <div class="impact">
      {{ content.content }}
    </div>
  </div>
{% endif %}
