{#
/**
 * @file
 * Theme override for the parent heirarchy menu.
 */
#}
{% if elements.content['#add_class'] %}
<div class="{{ elements.content['#add_class'] }}">
{% endif %}

{% include '@ts_wrin/blocks/block--menu-block--page-hierarchies.html.twig' %}
{% if elements.content['#add_class'] %}
</div>
{% endif %}
