{#
/**
 * @file
 * Theme override to display the All Topics Facet Block.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'topics-view-block',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
