{#
/**
 * @file
 * Theme override for the heirarchy menu.
 */
#}
<div class="internal-menu-pages">
  <div class="field-label" tabindex="0"><a tabindex="-1" href="#">{{ "Menu"|t }}</a></div>
  {% include '@ts_wrin/_includes/_toc.html.twig' %}
  </div>
</div>
