{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Only show this block if it has a menu in it.
 */
#}
<div class="internal-menu-pages">
  <div class="field-label" tabindex="0"><a tabindex="-1" href="#">{{ "Menu"|t }}</a></div>
  {% include '@ts_wrin/_includes/_toc.html.twig' %}
</div>
