{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded entities.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 *
 * @see template_preprocess_entity_embed_container()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    element.entity['#attributes'].class[0]
  ]
%}

{% set block = element.entity['#block_content'] ?? null %}
{% if block %}
  {% set bundle_id = block.bundle() %}
  {% set classes = classes|merge(['embed--block-type--' ~ bundle_id|clean_class]) %}
  {% set bundle_label = block.type.entity.label %}
{% endif %}

<div{{ attributes.addClass(classes) }}>{{ children }}</div>
