{#
/**
 * @file
 * Theme override for a Program Center: Featured Experts field.
 *
 * @see template_preprocess_field()
 */
#}
{% extends "@ts_wrin/fields/field--node--field-featured-experts.html.twig"  %}
{% block link %}
  <div class="layout__region--more-link">
    <span class="more-link__line"></span>
    <a href="/about/experts-staff/topic/{{ element['#object'].field_primary_topic.0.target_id }}" class="button small">{{ "View all Experts in "|t }}{{ element['#object'].title.value }}</a>
  </div>
{% endblock %}
