{#
/**
 * @file
 * Template to reset all HTML for the field.
 *
 * Available variables:
 * - element: The field element.
 * - label: The label of the field.
 * - show_colon: TRUE if colon should be displayed after label.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 */
#}
{% if not label_hidden %}
  <div class="field-label-{{ element['#label_display']|clean_class }}">
    {{- label }}{% if show_colon %}:{% endif -%}
  </div>
{% endif %}
{% set node = element['#object'] ?? null %}
  {% if node %}
    {% set url = path('entity.node.canonical', {'node': node.id}) %}
    {% set field_value = node.field_body_contains_recording.0.value %}
    {% if field_value == '1' %}
    {% for item in items %}
      <a class="button small" href="{{ url }}">{{ item.content }}</a>
    {% endfor %}
  {% endif %}
  {% endif %}
