{#
/**
 * @file
 * Template to reset all HTML for the field.
 *
 * Available variables:
 * - element: The field element.
 * - label: The label of the field.
 * - show_colon: TRUE if colon should be displayed after label.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 */
#}
{% set title_attributes = create_attribute() %}
{%
  set classes = [
    'field',
    'field-name-' ~ element['#field_name']|clean_class,
    'layout__region--main_content main-content',
  ]
%}
{%
  set title_classes = [
    'field-label-' ~ element['#label_display']|clean_class,
    (element['#label_display'] == 'visually_hidden' ? 'visually-hidden'),
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {%- if not label_hidden -%}
    <div{{ title_attributes.addClass(title_classes) }}>
      {{- label }}{% if settings['lb-col'] %}:{% endif -%}
    </div>
  {%- endif -%}

  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</div>

