{#
/**
 * @file
 * Theme override for a Project Detail: Featured Experts field.
 *
 * @see template_preprocess_field()
 */
#}
{% extends "@ts_wrin/fields/field--node--field-featured-experts.html.twig"  %}
{% block link %}
  <div class="layout__region--more-link">
    <span class="more-link__line"></span>
    <a href="/project-experts/{{ element['#object'].id }}" class="button small">{{ "View all Experts"|t }}</a>
  </div>
{% endblock %}
