name: Dependabot add comment to documentation
on: pull_request

permissions:
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - uses: bcgov/action-pr-description-add@v2.0.1
        with:
          add_markdown: |
            See the [Thinkshout Dependabot documentation](https://library.thinkshoutlabs.com/articles/dependabot) for more information on how to manage Dependabot updates.